{
	// locationNames 部位名称
	"belly" : "胃袋",
	"womb" : "子宫",
	"pussy": "阴道",
	"cock" : "阴茎",
	"balls" : "睾丸",
	"balls_left" : "左睾丸",
	"balls_right" : "右睾丸",
	"breasts" : "乳房",
	"breasts_1" : "乳房(1)",
	"breasts_2" : "乳房(2)",
	"breasts_left" : "左乳房",
	"breasts_right" : "右乳房",
	"ass" : "屁股",
	"cleavage" : "乳沟",
	"tail" : "尾巴",
	"navel" : "肚脐",
	"slime" : "粘液",

	// startup gui strings 前戏GUI文本
	"modDescription" : "这是一个18+特殊爱好MOD，主要描写了丸吞、微/巨以及TF等特殊癖好。\n请保持尊重，如果你不喜欢，请不要使用此MOD。",
	"terms":"我悉知本模组的所有内容均为18+元素\n我不会在没有年龄限制的情况下提供链接或以任何方式展示它，例如将视频上传到YouTube、在Twitch或其他任何限制18+内容的社交媒体平台上播放。",
	"agree":"我同意这些条款。",
	"allFetishes" : "所有XP，来者不拒！",
	"noFetishes" : "让我先看看这都是什么河坝玩法。",
	"allPred" : "所有捕食姿势",
	"noPred" : "不是捕食者",
	"allPrey" : "全部被吞食方式",
	"noPrey" : "我不想成为食物",
	"allTF" : "所有同化方式",
	"noTF" : "不要同化",
	"rememberSelectBodyParts" : "如果你想当一只捕食者，在进行某些吞食姿势例如Cock Vore或Breast Vore之前需要先将对应部位勾选启用，这些身体部位默认是关闭的。",

	// general gui strings SBQ主GUI文本
	"settingsTitle" : "Starbecue设置",
	"preditor" : "捕食者设置", // it's a pun, Predator Editor -> Preditor just un-pun ifiy it if it doesn't translate well 英文原文是个双关，想不出很恰当的双关翻译便直接翻译了原意
	"pred" : "捕食者",
	"prey" : "猎物",
	"prefs" : "噬好",
	"help" : "帮助",
	"misc" : "杂项",
	"vorePredPrefs" : "捕食者噬好",
	"vorePreyPrefs" : "猎物噬好",
	"preferences" : "偏好",
	"infused" : "融合",
	"infusePredPrefs" : "捕食者融合",
	"infusePreyPrefs" : "猎物融合",
	"transformationPrefs" : "物种变身设定",
	"otherPrefs" : "其他爱好",
	"settings" : "设定",
	"sizePrefs" : "体型设定",
	"value" : "比值",
	"importSettings":"放入设定卡\n导入设定",
	"exportAllSettings":"将所有设定\n完整导出",
	"exportPrefsOnly":"仅导出\n噬好设定",
	"exportLocationsOnly":"仅导出\n身体部位设定",
	"prefsSettingsCard":"SBQ噬好设定卡",
	"allSettingsCard":"SBQ完整设定卡",
	"locationsSettingsCard":"SBQ身体部位设定卡",
	"targets" : "目标",
	"behavior" : "行为1",
	"predBehavior" : "捕食者相关行为1",
	"preyBehavior" : "猎物相关行为1",
	"infuseeBehavior" : "被融合相关行为1",
	"infuseHostBehavior" : "融合主体相关行为1",
	"domBehavior" : "强势行为1",
	"subBehavior" : "顺从行为1",
	"upgradeInput" : "在此使用升级",
	"upgradesAcquired" : "已获得的升级",
	"convertNPC" : "改变NPC类型",
	"convertToType":"将该NPC改为下方类型",
	"slot" : "插槽",
	"infuseSlots" : "融合插槽",
	"health" : "生命",
	"healthTip" : "当前生命值，更低的生命值意味着更少的机会在被消化前挣脱。",
	"hunger" : "饱食",
	"hungerTip" : "当前饱食度，随时间推移而消耗，找些食物来补充饱食度。",
	"lust" : "性欲",
	"lustTip" : "性欲水平，随时间增长到一定水平后停止，进一步激发性欲直到高潮来发泄。",
	"rest" : "精力",
	"restTip" : "精力水平，随时间消耗，在舒适或放松时逐渐恢复。",
	"never" : "从不",
	"yes" : "好呀",
	"no" : "不行",
	"noYes" : "不可以... ^#AAA;(但其实你很想这么做)",
	"dom" : "强势",
	"switch" : "随机切换",
	"sub" : "顺从",
	"leanSubDomTip" : "决定了这个角色在更多时候表现得顺从还是强势。",
	"nextPage" : "下一页",
	"config" : "配置",
	"assignSpeciesDesc" : "配置你喜爱的物种，以便在不同物种之间快速切换。",
	"assignSpeciesSlot" : "为某个槽位选定此前你变化过的物种。",
	"customizeDesc" : "自定义每个物种的外观和名称！",
	"follow" : "跟随",
	"stay" : "停留",
	"recentlyDigested" : "近期消化掉的食物",
	"clearRecentlyDigestedTip" : "彻底消化并抹去这些早已沦为食物的灵魂。\n(关闭窗口来永远遗忘他们)",
	"optionYes" : "好呀",
	"optionNo" : "不行",
	"optionNoYes" : "不可以... ^#AAA;(但其实你很想这么做)",
	"ynPrompt" : "[给出答复...]",
	"optionsPrompt" : "[交互选项]",
	"choosePrompt" : "[选择]",
	"tellMeAboutSelf" : "和我多聊聊你自己。",
	"myNameIs" : "我的名字是<entityName>",
	"cosmeticSlots" : "装饰品槽位",
	"customize" : "自定义",
	"player" : "玩家",
	"npc" : "NPC",
	"object" : "物品",
	"any" : "全部",
	"monster" : "怪物",
	"general" : "通用",
	"global" : "综合1",
	"world" : "世界",
	"tools" : "工具",
	"functional" : "功能性道具1",
	"furniture" : "家具",
	"outfits" : "装备",
	"min" : "最少1",
	"max" : "最多1",
	"length" : "长度1",
	"buy" : "购买",

	// cosmetic slot names 装饰槽位名称
	"headCosmetic" : "头部装饰",
	"chestCosmetic" : "胸部装饰",
	"legsCosmetic" : "腿部装饰",
	"backCosmetic" : "背部装饰",
	"cosmetic1" : "项圈(装饰1)",
	"cosmetic2" : "文胸(装饰2)",
	"cosmetic3" : "内衣(装饰3)",
	"cosmetic4" : "袜子(装饰4)",
	"cosmetic5" : "装饰5",
	"cosmetic6" : "装饰6",
	"cosmetic7" : "装饰7",
	"cosmetic8" : "装饰8",
	"cosmetic9" : "装饰9",
	"cosmetic10" : "装饰10",
	"cosmetic11" : "装饰11",
	"cosmetic12" : "装饰12",

	// deed gui strings 契约GUI文本
	"summonTenant" : "生成新房客",
	"summonTenantTip" : "警告！直接生成新房客会清除全部现有房客的设定数据！\n保存需要的数据后点击三次以确认驱逐现有房客。",
	"insertCard" : "添加房客",
	"colonyTags" : "殖民地标签",
	"orderFurniture" : "订购家具",
	"tagsNeeds" : "需求",
	"tags" : "标签",
	"remove" : "移除",
	"callTenants" : "呼叫房客",
	"price" : "价格",
	"createdOnDate" : "%x",
	"guardTenantFormat" : "%s 守卫1",
	"randomGuard"  :"随机守卫",

	"lockedDeed" : "上锁",
	"lockedDeedTip" : "锁定此契约，防止其他人对该契约及其角色进行编辑。",

	"hiddenDeed" : "隐藏",
	"hiddenDeedTip" : "使此契约几乎不可见。",

	"targetOwned" : "目标已属于其他人。",

	"requiresHouse" : "需要封闭的房屋。",
	"requiresCamp" : "需要未封闭的营地。",
	"requiresEvil" : "必须是邪恶的 >:3",
	"requiresFriendly" : "必须是友好的 :)",
	"requiresBoss" : "必须是小队首领！",

	"deedName" : "SBQ殖民地契约",
	"deedDesc" : "可以召唤和你一样喜欢丸吞的NPC契约，需放置在有门和光源的封闭空间中。",
	"miniDeedName" : "SBQ迷你契约",
	"miniDeedDesc" : "可以召唤和你一样喜欢丸吞的NPC迷你契约，需放置在有门和光源的封闭空间中。",
	"campName" : "SBQ营地标记",
	"campDesc" : "放置后将半径15格内标记为营地并根据其中的物品召唤喜欢丸吞的NPC，不要求封闭。",

	"evilDeedName" : "SBQ邪饿殖民地契约",
	"evilDeedDesc" : "用于召唤一些穷凶极饿的反派NPC(总想着丸吞你)\n连接电线可使他们组成小队，链接起始点将成为小队首领。",
	"evilMiniDeedName" : "SBQ邪饿迷你契约",
	"evilCampName" :"SBQ邪饿营地标记",

	"npcAlreadyExists" : "这个世界里已有该NPC。",
	"releaseAgain" : "请尝试再次接收卡片。111",
	"invalidNPC" : "NPC类型无效。",

	"stolenBy": "%s\n^orange;偷走了它1^reset;",
	"restore": "修复1",

	// vore names 丸吞姿势名称
	"oralVore" : "Oral Vore",
	"tailVore" : "Tail Vore",
	"navelVore" : "Navel Vore",
	"absorbVore" : "Absorb Vore",
	"analVore" : "Anal Vore",
	"unbirthVore" : "Unbirth",
	"breastVore" : "Breast Vore",
	"cockVore" : "Cock Vore",

	"predEnabledTip" : "你迫不及待地想尝试这种吞食姿势了。",
	"predConsentRequiredTip" : "别人须要征得你的同意才能强迫你将他吞食。",
	"preyEnabledTip" : "允许其他人以这种方式吃掉你。",
	"preyConsentRequiredTip" : "别人须要征得你的同意才能以这个姿势享用你。",

	// infusion names 融合玩法名称
	"thighsInfuse" : "尚有意识的脂肪",
	"bellyInfuse" : "胃袋融合",
	"breastInfuse" : "乳房融合",
	"pussyInfuse" : "阴道融合",
	"cockInfuse" : "阴茎融合",
	"pawInfuse" : "爪子融合",
	"tailInfuse" : "尾巴融合",

	"transformDigested" : "同化",
	"thighsInfuseDigested" : "融合为赘肉",
	"bellyInfuseDigested" : "融合为胃袋",
	"breastInfuseDigested" : "融合为乳房",
	"pussyInfuseDigested" : "融合为阴道",
	"cockInfuseDigested" : "融合为阴道",
	"pawInfuseDigested" : "融合为爪子",
	"tailInfuseDigested" : "融合为尾巴",

	// effect descriptions 消化液效果描述
	"none" : "暂不消化",
	"heal" : "治愈",
	"softDigest" : "软消化",
	"digest" : "消化",
	"healDesc" : "基于消化强度呵护治疗猎物，消耗能量。",
	"healRequestDesc" : "请求捕食者用治愈性消化液爱抚你。",
	"digestDesc" : "基于消化强度将食物溶解来补充饥饿和健康。消化干净食物后或会吐出遗骸。",
	"digestRequestDesc" : "请求捕食者用酸液彻底消化你，助你完成飞升弃世而去。",
	"softDigestDesc" : "基于消化强度溶解猎物并补充饥饿和健康。将其最后一丝灵魂困在胃里，或许会把消化吸收完的残渣吐出来。",
	"softDigestRequestDesc" : "请求捕食者温柔地消化你并保留你的意识与灵魂。",
	"cumDigestDesc" : "基于溶精强度将食物溶解来发泄性欲。彻底溶解食物后或会将其射进避孕套留作纪念。",
	"cumSoftDigestDesc" : "基于溶精强度溶解猎物并发泄性欲。将其灵魂困在肉棒或魔丸中，彻底溶解猎物时或会将其射入避孕套内。",
	"femcumDigestDesc" : "基于榨汁强度将食物榨干来满足性欲。当玩具被完全榨干后或会将其喷挤进安全套留作纪念。",
	"femcumSoftDigestDesc" : "基于榨汁强度榨干猎物并满足性欲。将其灵魂困在小穴或子宫里，完全榨干猎物时或会将其喷淋进安全套内。",
	"milkDigestDesc" : "基于炼乳强度将食物炼化来激发性欲。当原料被充分搅拌炼制时或会装满一盒奶。",
	"milkSoftDigestDesc" : "基于炼乳强度炼化猎物并激发性欲。将其灵魂困在乳房，待猎物身躯被充分搅拌炼化或会装满一盒奶。",
	"cumHealDesc" : "基于溶精强度呵护治疗猎物，消耗能量。",
	"femcumHealDesc" : "利用爱液以更快的速度治疗猎物且消耗的能量更少，但会导致饥饿。",
	"milkHealDesc" : "利用乳汁以更快的速度治疗猎物且消耗的能量更少，但会导致饥饿。",
	"energyDrainDesc" : "从吞入体内的猎物身上汲取能量为己所用。",
	"reformDigested" : "重塑",
	"reformHealDesc" : "当软消化猎物后转而对其治愈，重塑猎物的身躯。待其生命值回满即可以通过^yellow;重塑^reset;将他们复活。",
	"noneDesc" : "停止分泌消化液，多囚禁一会终将变成食物的猎物~",
	"noneRequestDesc" : "请求捕食者停止分泌消化液并多陪一陪你...",

	// setting names 设定选项名称
	"mainSettings" : "主要设置",
	"resistances" : "抗性",
	"unordered" : "无序(仅限于管理员)",

	"escapeDifficulty" : "逃离你身体的难度1",
	"escapeDifficultyTip" : "猎物从你体内挣脱出来的难度有多大。",

	"acidDigestPower" : "消化强度",
	"acidDigestPowerTip" : "你的消化液对猎物的作用效果有多强。",
	"acidDigestResistance" : "消化抗性",
	"acidDigestResistanceTip" : "你对酸液消化的抗性。抗性越高，捕食者越难把你消化吸收。",
	"acidDigestFatalImmuneTip" : "酸液只能将你的身体消化分解，无法致命。\n不会影响被消化后是否留下骸骨。",
	"acidDigestDropsTip" : "若猎物也启用了相关选项，消化完食物后会将残留下来的骨头吐出去。",
	"acidDigestDropsAllowTip" : "若捕食者也启用了相关选项，你被消化后将会留下一堆骸骨。",

	"cumDigestPower" : "溶精强度",
	"cumDigestPowerTip" : "你的精液对猎物的作用效果有多强。",
	"cumDigestResistance" : "溶精抗性",
	"cumDigestResistanceTip" : "面对精液时的溶解抗性。抗性越高，捕食者越难把你溶解。",
	"cumDigestFatalImmuneTip" : "精液只能将你的身体溶解，无法致命。\n不影响被溶解后会不会留下射满精液的避孕套。",
	"cumDigestDropsTip" : "若猎物也启用了相关选项，由溶解猎物而来的精液会射满一个避孕套。",
	"cumDigestDropsAllowTip" : "若捕食者也启用了相关选项，溶解成精液后你将被射入一个安全套内。",

	"femcumDigestPower" : "榨汁强度",
	"femcumDigestPowerTip" : "你的爱液对猎物的作用效果有多强。",
	"femcumDigestResistance" : "榨汁抗性",
	"femcumDigestResistanceTip" : "在爱液中的榨汁抗性。抗性越高，捕食者越难把你榨干。",
	"femcumDigestFatalImmuneTip" : "爱液只能将你的身体榨成汁水，无法致命。\n不影响被榨干后会不会留下灌满淫水的安全套。",
	"femcumDigestDropsTip" : "若猎物也启用了相关选项，由猎物身体榨成的爱液会喷挤进避孕套里留作纪念。",
	"femcumDigestDropsAllowTip" : "若捕食者也启用了相关选项，从你身上榨出的爱液将会喷入一个安全套内。",

	"milkDigestPower" : "炼乳强度",
	"milkDigestPowerTip" : "你的乳汁对猎物的作用效果有多强。",
	"milkDigestResistance" : "炼乳抗性",
	"milkDigestResistanceTip" : "对乳汁的炼乳抗性。抗性越高，捕食者越难把你炼化。",
	"milkDigestFatalImmuneTip" : "乳汁只能将你的身体炼成奶水，无法致命。\n不影响被炼化后会不会留下挤满乳汁的奶盒。",
	"milkDigestDropsTip" : "若猎物也启用了相关选项，炼化猎物得来的乳汁将会挤入奶盒中保存。",
	"milkDigestDropsAllowTip" : "若捕食者也启用了相关选项，用你炼制出的乳汁会灌装进奶盒中。",

	"mainEffect":"默认吞食效果",
	"secondaryEffects":"附加效果",
	"digestedEffects":"消化完成后施加的效果",
	"infusedEffects":"融合完成后施加的效果",
	"energyDrain":"能量汲取",
	"hammerspace":"无限吞食(超大卫戴)",

	"infusePreferDirect" : "偏爱直接融合",
	"infusePreferDirectTip" : "更偏爱于直接融合为一体，无需事先发生任何相关的丸吞行为。",

	"targetFriendlyTip":"友好角色",
	"targetHostileTip":"敌对角色",
	"targetPlayerTip":"玩家角色",
	"targetOCTip":"OC角色",
	"targetCompatibleTip":"兼容SBQ的角色",
	"targetOtherTip":"其他角色",

	"willingness" : "意愿",
	"favored" : "偏爱",
	"willingnessTip" : "该角色有多大的可能会\"乐意\"接受这个姿势。",
	"favoredTip" : "该角色有多喜欢主动用这个姿势进行觅食",
	"predAlwaysDigestHostiles" : "消化敌方",
	"predAlwaysDigestHostilesTip" : "会一直尝试消化溶解敌方实体，无论所在部位设置了哪种默认吞食效果。",

	"minScaleTip":"可以缩小到的最小体型。\n出于明智的考虑，下限为0.125(1/8)。",
	"maxScaleTip":"可以放大到的最大体型。\n找一些东西\"升级\"你的力量来变得更高更大...\n但为了不让你的电脑爆炸，上限为10倍。",
	"currentScaleTip":"当前体型。\n若能找到某个工具的话就能自由设置了......",

	"grabbed": "允许被抓住",
	"grabbedTip" : "允许其他人抱着你或将你拎起来。",
	"pinned" : "允许被踩压",
	"pinnedTip" : "允许其他人通过踩或坐在你身上来压住你。",

	"displayEffect" : "显示数字与粒子",
	"displayEffectTip" : "你在消化食物时会生成诸如数字之类的粒子来表示其效果。",
	"nipplesVisible" : "乳头可见",
	"nipplesVisibleTip" : "乳头在乳房上可见。",
	"navelVisible" : "肚脐可见",
	"navelVisibleTip" : "肚脐眼在肚子上可见。",

	"struggleSounds" : "挣扎声",
	"struggleSoundsTip" : "猎物在该部位挣扎搅动的声音能被外界听到。",
	"gurgleSounds" : "咕噜声",
	"gurgleSoundsTip" : "该部位内有活的食物时会咕噜作响。",

	"interactDialogue" : "对话交互窗",
	"interactDialogueTip" : "与该角色交互时会出现对话交互窗。\n若未启用，则会在屏幕中心弹出一个交互轮盘代替交互窗供你操作。",
	"actionDialogue" : "行动对话",
	"actionDialogueTip" : "该角色(被)执行动作或挣扎时会有相关对话。",

	"lockDownChance" : "无路可逃概率",
	"lockDownChanceTip" : "该NPC会时不时启用无路可逃状态来阻止你逃出去。\n他们问都不问就把你给吃了，但愿不会在你即将被消化的时候断送你最后逃出去的希望。11",

	"healthThreshold" : "生命阈值",
	"healthThresholdMinTip" : "该角色的生命值大于最低生命阈值时才会尝试这个姿势。",
	"healthThresholdMaxTip" : "该角色的生命值小于最高生命阈值时才会尝试这个姿势。",

	"hungerThreshold" : "饱食阈值",
	"hungerThresholdMinTip" : "该角色的饱食大于最低饱食阈值时才会尝试这个姿势。",
	"hungerThresholdMaxTip" : "该角色的饱食小于最高饱食阈值时才会尝试这个姿势。",

	"lustThreshold" : "性欲阈值",
	"lustThresholdMinTip" : "该角色的性欲大于最低性欲阈值时才会尝试这个姿势。",
	"lustThresholdMaxTip" : "该角色的性欲小于最高性欲阈值时才会尝试这个姿势。",

	"restThreshold" : "精力阈值",
	"restThresholdMinTip" : "该角色的精力大于最低精力阈值时才会尝试这个姿势。",
	"restThresholdMaxTip" : "该角色的精力小于最高精力阈值时才会尝试这个姿势。",

	"maxPossibleScale" : "最大可用体型",
	"maxPossibleScaleTip" : "你的人物当前所能放大到的最大体型。\n由你获得的升级数量决定。",
	"maxDigestPower" : "最大消化强度",
	"maxDigestPowerTip" : "你所能达到的最大消化强度。\n由你获得的升级数量决定。",

	"locations" : "部位",
	"locationsTip" : "部位设置的原始Json，除非你知道你在做什么，否则不要碰它。",
	"vorePrefs" : "Vore偏好",
	"vorePrefsTip" : "Vore偏好设置的原始Json，除非你知道你在做什么，否则不要碰它。",
	"infusePrefs" : "融合偏好",
	"infusePrefsTip" : "融合偏好设置的原始Json，除非你知道你在做什么，否则不要碰它。",

	"visualMin" : "最小充填值",
	"visualMinTip" : "该部位将会保持的最小鼓胀程度。\n该数值仅影响视觉表现，不会影响实际丸吞容量。",
	"visualMinAdd" : "充填增添",
	"visualMinAddTip" : "若启用该选项，右侧的最小充填值不再仅为视觉表现。1\n最小充填值将纳入容量计算，使该部位同时容纳更少食物。",
	"visualMaxTip" : "该部位所能达到的最大鼓胀程度。\n该数值仅影响视觉表现，不会影响实际丸吞容量。",
	"minFill" : "最小充填",
	"maxSize" : "最大充填",
	"multiply" : "体积乘数",
	"multiplyFillTip" : "每只食物的充填体积修正。\n越大的乘数会导致食物占据越多空间，更快更容易撑满该部位。",

	"infusedFade" : "颜色",
	"infusedFadeTip" : "融合而来的部位会残留多少猎物身上的颜色。",
	"infusedSize" : "隆起",
	"infusedSizeTip" : "被融合猎物的体型对这个部位造成隆起的幅度，不会占用实际容量。1",
	"infusedShrink" : "融合收缩",
	"infusedShrinkTip" : "因融合猎物而造成的隆起会随着时间的推移而缩小。",
	"infusedFading" : "融合褪色",
	"infusedFadingTip" : "因融合猎物而染上的颜色会随着时间的推移而褪去。",

	"bodyParts" : "身体部位",
	"cockTip" : "启用阴茎。",
	"ballsTip" : "启用睾丸。",
	"pussyTip" : "启用阴道。",
	"breastsTip" : "启用乳房。",
	"ballsSymmetric" : "睾丸对称",
	"ballsSymmetricTip" : "让食物平均占用阴囊两侧空间，使两颗睾丸一样大，保持平稳与对称。",
	"breastsSymmetric" : "乳房对称",
	"breastsSymmetricTip" : "将乳房内的食物平分到另一侧乳房来使她们对称。",
	"ballsInternal" : "内部睾丸",
	"ballsInternalTip" : "将睾丸隐藏在体内，无法从外侧看到。",

	"compression":"部位收缩",

	"compressionHealth" : "随生命收缩",
	"compressionHealthTip" : "根据猎物的生命值百分比来将其压缩得更小，占用更少空间。",

	"compressionTime" : "随时间收缩",
	"compressionTimeTip" : "基于该部位的消化强度，随时间推移软化猎物，将其压缩得更小。",

	"compressionNone" : "不收缩",
	"compressionNoneTip" : "该部位不会收缩，直到食物消化殆尽前占用的空间不会发生变化。",

	"compressionMin":"压缩极限",
	"compressionMinTip": "猎物极限能被压缩到多小。",

	"huntingSpreeChance":"纵情吞食概率",
	"huntingSpreeChanceTip":"该角色成功猎食后，会立即再次开始猎食的概率。",

	"getConsentChance":"征求意见概率",
	"getConsentChanceTip":"该角色有多大的可能会征求猎物的同意而非直接将其吞食。",

	"stripping":"裸露",
	"headStrip":"头饰",
	"chestStrip":"上身",
	"legsStrip":"下身",
	"backStrip":"背饰",
	"clothingStripTip":"角色性欲百分比超过该比值后此位置的衣饰会暂时隐藏。",
	"theHatStaysOn" : "涩涩全程都会戴着头饰。",

	"offerQuests" : "提供任务",
	"offerQuestsTip" : "该角色可为玩家提供各种任务。",
	"questParticipation" : "参与任务",
	"questParticipationTip" : "该角色可以\"参与\"其他角色的任务线。",
	"npcGraduation" : "NPC毕业",
	"npcGraduationTip" : "这个角色在完成任务后可能会\"毕业\"成为另一种类型。\n这通常意味着可以被招募为船员。",

	"eggify" : "蛋化",
	"eggifyDesc" : "把猎物困在一个蛋里！",
	"eggifyRequestDesc" : "请求捕食者把你塞进蛋里！",

	"releaseOccupant" : "吐出食物",
	"releaseOccupantDesc" : "这应该只出现在与NPC的对话上。",
	"releaseOccupantRequestDesc" : "请求捕食者吐出体内一只还活着的食物。",

	"selectPersonality" : "选择性格",
	"personality" : "性格",
	"shy" : "害羞",
	"meanbean" : "残虐",
	"flirty" : "轻佻",
	"default" : "默认",

	"cockLeakiness" : "阴茎滴水",
	"cockLeakinessTip" : "随着你的性欲计量条的填充，你的阴茎会流出多少先走汁。",
	"pussyLeakiness" : "阴道滴水",
	"pussyLeakinessTip" : "随着你的性欲计量条的填充，你的阴道会滴落多少爱液。",
	"breastsLeakiness" : "乳房滴水",
	"breastsLeakinessTip" : "随着你的性欲计量条的填充，你的乳房会溢出多少奶水。",


	"bellySelect" : "挑选胃袋",
	"bellySelectTip" : "挑选你的胃袋外形。",
	"bellyInfuseSelect" : "融合后胃袋形态",
	"bellyInfuseSelectTip" : "选择你在被融合成胃袋时的外形。",
	"bellySelectOverride" : "猎物决定胃袋",
	"bellySelectOverrideTip" : "把猎物融合后你的新胃袋将采用他所偏好的外形。",

	"cockSelect" : "挑选阴茎",
	"cockSelectTip" : "挑选你的阴茎种类。",
	"cockInfuseSelect" : "融合后阴茎形态",
	"cockInfuseSelectTip" : "选择你在被融合成阴茎时的种类。",
	"cockSelectOverride" : "猎物决定阴茎",
	"cockSelectOverrideTip" : "把猎物融合后你的新阴茎将采用他所偏好的种类。",

	"ballsSelect" : "挑选睾丸",
	"ballsSelectTip" : "挑选你的睾丸样式。",
	"ballsInfuseSelect" : "融合后睾丸形态",
	"ballsInfuseSelectTip" : "选择你在被融合成睾丸时的样子。",
	"ballsSelectOverride" : "猎物决定睾丸",
	"ballsSelectOverrideTip" : "把猎物融合后你的新睾丸将采用他所偏好的样子。",

	"pussySelect" : "挑选阴道",
	"pussySelectTip" : "挑选你的阴道形状。",
	"pussyInfuseSelect" : "融合后阴道形态",
	"pussyInfuseSelectTip" : "选择你在被融合成阴道时的形状。",
	"pussySelectOverride" : "猎物决定阴道",
	"pussySelectOverrideTip" : "把猎物融合后你的新阴道将采用他所偏好的形状。",

	"breastsSelect" : "挑选乳房",
	"breastsSelectTip" : "挑选你的乳房类型。",
	"breastsInfuseSelect" : "融合后乳房形态",
	"breastsInfuseSelectTip" : "选择你在被融合成乳房时的类型。",
	"breastsSelectOverride" : "猎物决定乳房",
	"breastsSelectOverrideTip" : "把猎物融合后你的新乳房将采用他所偏好的类型。",

	"tailVoreCompatible" : "兼容尾巴吞吃！",

	"tailSelect" : "挑选尾巴",
	"tailSelectTip" : "挑选你的尾巴类型。",
	"tailInfuseSelect" : "融合后尾巴形态",
	"tailInfuseSelectTip" : "选择你在被融合成尾巴时的样子。",
	"tailSelectOverride" : "猎物决定尾巴",
	"tailSelectOverrideTip" : "把猎物融合后你的新尾巴将采用他所偏好的类型。",

	"nickit" : "偷儿狐",
	"naga" : "娜迦",
	"nagaTailTip" : "再次进行^yellow;Oral Vore^reset;行动来将猎物送入胃袋更深处！ 11",
	"double" : "双尾1",
	"selectInfuseTip" : "需要将某人融合成你身体的一部分。11",
	"cockSelectInfuseTip" : "需要将某人融合成你的阴茎。",
	"ballsSelectInfuseTip" : "需要将某人融合成你的睾丸。",
	"pussySelectInfuseTip" : "需要将某人融合成你的阴道。",
	"breastsSelectInfuseTip" : "需要将某人融合成你的乳房。",
	"tailSelectInfuseTip" : "需要将某人融合成你的尾巴。",

	"auto" : "自动",

	"cockMatchGender":"阴茎跟随性别",
	"ballsMatchGender":"睾丸跟随性别",
	"breastsMatchGender":"乳房跟随性别",
	"pussyMatchGender":"阴道跟随性别",

	"cockMatchGenderTip":"当你为雄性时，你的阴茎将会启用并锁定。",
	"ballsMatchGenderTip":"当你为雄性时，你的睾丸将会启用并锁定。",
	"breastsMatchGenderTip":"当你为雌性时，你的乳房将会启用并锁定。",
	"pussyMatchGenderTip":"当你为雌性时，你的阴道将会启用并锁定。",

	"disable" : "禁用1",

	"transgender" : "性转",
	"transgenderTip" : "在将猎物同化时，你会顺带转变他们的性别。",
	"unchanged" : "不变动",
	"random" : "随机",
	"swap" : "雌雄互换",
	"male" : "雄性",
	"female" : "雌性",

	"other" : "其他设置",
	"scrollText" : "文本滚动",
	"scrollTextTip" : "人物对话将伴随着音效逐字滚动显示。",

	"customFont" : "NPC字体",
	"customFontTip" : "角色对话时会使用自定义字体。",

	// transformation names 变身名称
	"speciesTF" : "物种",
	"indefiniteTF" : "无期限",
	"permanentTF" : "永久",
	"genderTF" : "性别",
	"accidentalTF" : "意外",

	"speciesTFTip" : "你的物种可通过药水、同化、变身等方式来改变",
	"indefiniteTFTip" : "同化与药水效果将会无限持续下去，只能使用复原药水变回原样",
	"permanentTFTip" : "变身与同化结果将不可逆且持续无限时间，复原药水不再能将你变回原样",

	"genderTFTip" : "你的性别可被改变^#555;(仅限基础外貌，生殖器需另行配置)",

	"potionTFTip" : "你可以通过药水来进行变身或遭到同化",
	"magicTFTip" : "你可以通过魔法来进行变身或遭到同化",
	"scienceTFTip" : "你可以通过科技来进行变身或遭到同化",
	"voreTFTip" : "你可能在丸吞过程中遭到同化或变身",
	"unbirthTFTip" : "你可能在别人的子宫里遭到同化或变身",

	"accidentalTFTip" : "各种随机意外事件都可能导致变身。^#555;(仍遵从其他设定)",

	// body parts can TF 可融合的身体部位
	"cockCanTFChange" : "不管你有没有阴茎，TF效果都会改变。",
	"ballsCanTFChange" : "不管你有没有睾丸，TF效果都会改变。",
	"pussyCanTFChange" : "不管你有没有阴道，TF效果都会改变。",
	"breastsCanTFChange" : "不管你有没有乳房，TF效果都会改变。",

	// action names 行动选项名称
	"actions" : "行动",
	"unassignedAction" : "SBQ控制器",
	"grab" : "抓住",
	"inhale" : "暴风吸入",
	"vore" : "任意丸吞",

	"genericDesc" : "^green;点击^reset;来尝试^yellow;<actionName>^reset;对方。",
	"unavailableDesc" : "^yellow;<actionName>^reset;因为一些原因暂不可用。",
	"unassignedDesc" : "未选定任何吞食姿势。",
	"genericRequestDesc" : "^green;点击^reset;来请求对方^yellow;<actionName>^reset;你。",
	"unassignedRequestDesc" : "未选择吞食姿势，或许你还没准备好被吃掉。",

	"requesterShortDescFormat" : "请求 %s 11",

	"controllerDescFormat" : "^green;主要^reset; %s\n^green;次要^reset; %s\n按^green;Shift+W^reset;打开行动轮盘。\n^green;Shift+点击^reset;征求猎物是否同意将其吞食。",

	"genericDomPrompt" : "<entityName>^reset;想要<actionName>^reset;你。",
	"genericSubPrompt" : "<entityName>^reset;想要你对其尝试<actionName>^reset;。",

	"voreDesc" : "在猎物身上尝试随机一种可用的^yellow;丸吞^reset;动作。",
	"voreRequestDesc" : "任由对方决定用何种方式吞食你！",

	"oralVoreDesc" : "张嘴一口将食物吞进胃袋！",
	"analVoreDesc" : "把猎物压进你的屁股里！",
	"unbirthVoreDesc" : "把猎物塞进你的小穴里！",
	"breastVoreDesc" : "把猎物按进你的乳房深处！",
	"cockVoreDesc" : "用鸡巴把猎物嗦进去！",
	"tailVoreDesc" : "让你的尾巴找一些食物加餐！",
	"absorbVoreDesc" : "用身体包裹吸收掉猎物！",
	"navelVoreDesc" : "把对方挤进你的肚脐眼里！",

	"oralVoreRequestDesc" : "请求捕食者一口将你吃掉！",
	"analVoreRequestDesc" : "请求对方一屁股将你塞进肛门里！",
	"unbirthVoreRequestDesc" : "请求捕食者张开小穴并将你塞进去！",
	"breastVoreRequestDesc" : "请求被对方按进乳房里！",
	"cockVoreRequestDesc" : "请求捕食者用鸡巴将你吸入！",
	"tailVoreRequestDesc" : "请求捕食者的尾巴啃一啃你！",
	"absorbVoreRequestDesc" : "请求对方把你包裹吸收掉！",
	"navelVoreRequestDesc" : "请求捕食者将你塞入肚脐眼！",

	"bellyInfuseDesc" : "把猎物融合成你的胃袋！",
	"thighsInfuseDesc" : "把你的食物变成脂肪储存起来！",
	"cockInfuseDesc" : "把对方变成你的大鸡巴！",
	"pussyInfuseDesc" : "把猎物变成你的蜜穴与阴蒂！",
	"breastInfuseDesc" : "把食物融合为你的一对奶子！",
	"tailInfuseDesc" : "把猎物同化成你身后的尾巴！",
	"pawInfuseDesc" : "把食物吸收到你的爪子里！",

	"bellyInfuseRequestDesc" : "请求融合进捕食者的大胃袋！",
	"thighsInfuseRequestDesc" : "请求成为捕食者身上的赘肉！",
	"cockInfuseRequestDesc" : "请求变成对方的大鸡巴！",
	"pussyInfuseRequestDesc" : "请求变成捕食者的蜜穴！",
	"breastInfuseRequestDesc" : "请求对方把你融合进双乳！",
	"tailInfuseRequestDesc" : "请求捕食者将你同化成尾巴！",
	"pawInfuseRequestDesc" : "请求变成对方的爪子！",

	"grabRequestDesc" : "请求对方抱着你举高高！",

	"interact" : "互动",
	"interactDesc" : "尝试与该角色交流互动。",
	"letout" : "吐出",
	"controllerLetOutAnyDesc" : "尝试将最后一个吞食的猎物以选定的动作吐出去。",
	"letoutDesc" : "根据部位对应的方式将这只猎物吐出去。",
	"letoutRequestDesc" : "请求捕食者快点把你吐出来。",

	"capture" : "囚禁1",
	"captureDesc" : "囚禁并隔绝该角色与外界的任何联系，将其数据存储在你的体内。你可以无限期地囚禁该角色，亦或带他们前往其他世界。",
	"releaseCaptured" : "吐出1",
	"releaseCapturedDesc" : "将这个角色吐出来重见天日，回到这个存在的世界。",

	"controllerRPMenu" : "角色扮演动作",
	"controllerRPMenuDesc" : "TODO\n主要用于角色扮演的动作。",

	"controllerAssign" : "选定动作",
	"controllerAssignDesc" : "为该控制器选定点击时执行的动作。",
	"occupants" : "还活着的食物们",

	"turboDigest" : "极速消化",
	"turboDigestDesc" : "即刻耗尽全部能量，以10倍的速度将食物消化到渣都不剩！",
	"turboDigestRequestDesc" : "请求捕食者用10倍的速度粗鲁地消化你！",

	"reform" : "重塑",
	"reformDesc" : "待猎物的生命值回满后重塑并复活他。",
	"reformRequestDesc" : "请求捕食者在你的生命值回满后重塑你的躯体！",

	"turboReform" : "快速重塑",
	"turboReformDesc" : "消耗能量使重塑猎物的速度提高10倍！",
	"turboReformRequestDesc" : "请求捕食者以10倍的速度重塑你的躯体！",

	"turboHeal" : "极速治愈",
	"turboHealDesc" : "消耗能量使治愈猎物的速度提高10倍！",
	"turboHealRequestDesc" : "请求捕食者以10倍的速度治疗你！",

	"fatal" : "致死",
	"fatalDesc" : "彻底消化这滩糊糊，抹消其意识，让对方于此尘世轮回中解脱。",
	"fatalRequestDesc" : "请求捕食者彻底将你消化，抹去你的存在，赐予你解脱，摆脱尘世轮回。",

	"chooseLocation" : "转移食物",
	"chooseLocationDesc" : "决定把猎物转移到哪个身体部位。",
	"chooseLocationRequestDesc" : "请求捕食者将你送往其它部位。",
	"chooseLocationPrey" : "猎物自选部位",
	"chooseLocationPreyDesc" : "让你的猎物挑一个喜欢的部位钻过去。",
	"chooseLocationPreyPrompt" : "钻到捕食者身体内的其他部位。",

	"transform" : "同化",
	"transformDesc" : "消耗能量，将猎物同化成和你一样的物种或其他东西。",
	"transformRequestDesc" : "请求捕食者将你同化成他所属的物种或其他什么东西！",

	"sendDeeper" : "送入深处",
	"sendDeeperDesc" : "将猎物送进你的身体深处",
	"sendDeeperRequestDesc" : "请求更深入地被困在对方的体内！",

	"jackoff" : "打飞机",
	"jackoffDesc" : "撸一撸你的鸡巴！",
	"fingerPussy" : "扣扣空间",
	"fingerPussyDesc":"用手指扣挠小穴刺激阴蒂！",
	"squishBreasts": "搓揉乳房",
	"squishBreastsDesc":"搓揉，挤压你的奶子！",

	"lockDown" : "无路\n可逃",
	"lockDownDesc" : "切换^red;无路可逃^reset;模式。\n只要你还有能量，就能阻止猎物转移与逃脱，但无法被动回复与利用从猎物身上汲取的能量。",

	"action_unassigned" : "未选择吞食姿势",
	"action_invalidAction" : "行动无效",
	"action_settingsMismatch" : "你的噬好设定不允许该行动",
	"action_targetSettingsMismatch" : "对方噬好设定不允许该行动",
	"action_targetPreySettingsMismatch" : "对方体内的食物噬好设定不允许该行动",
	"action_tooBig" : "对方体型太大了",
	"action_tooSmall" : "这只食物太小了",
	"action_noSlots" : "体内的食物太多了",
	"action_noSpace" : "这只食物塞不进当前部位了",
	"action_needsInfusion" : "需要先通过融合获得对应部位",
	"action_alreadyInfused" : "那只食物已经被融合了",
	"action_invalidLocation" : "部位数据无效",
	"action_missingAction" : "当前状态下没有行动",
	"action_actionsLocked" : "行动暂时不可用",
	"action_targetMissingStatusPrimaryScript" : "不兼容目标：缺少SBQ状态主脚本",
	"action_targetMissingActorScript" : "不兼容目标：缺少SBQ状态行动脚本",
	"action_messageNotHandled" : "行动未能得到处理，可能为脚本错误。",
	"action_nil" : "缺少失效理由，可能为脚本错误。",

	"request_unassigned" : "没有选择想以何种方式被吞食",
	"request_invalidAction" : "行动无效",
	"request_settingsMismatch" : "对方设定不允许该行动",
	"request_targetSettingsMismatch" : "你的噬好设定不允许该行动",
	"request_targetPreySettingsMismatch" : "你体内的某只食物设定不允许该行动",
	"request_tooBig" : "你这么大一只，怎么想都吞不下去吧",
	"request_tooSmall" : "你体型太小了",
	"request_noSlots" : "捕食者已经吃了太多食物了",
	"request_noSpace" : "捕食者的那个部位已经塞满食物了",
	"request_needsInfusion" : "捕食者需要先融合获得对应部位",
	"request_alreadyInfused" : "你已经被融合了",
	"request_invalidLocation" : "部位数据无效",
	"request_missingAction" : "当前状态下没有行动",
	"request_actionsLocked" : "行动暂时不可用",
	"request_targetMissingStatusPrimaryScript" : "不兼容目标：缺少SBQ状态主脚本",
	"request_targetMissingActorScript" : "不兼容目标：缺少SBQ状态行动脚本",
	"request_messageNotHandled" : "行动未能得到处理，可能为脚本错误。",
	"request_nil" : "缺少失效理由，可能为脚本错误。",

	// item strings 物品文本
	"mysteryPotionName":"^rainbow;神秘药水",
	"mysteryPotionDesc":"谁知道这瓶药水会把某人变成什么样呢？",

	"speciesPotionName":"<species>物种药水",
	"speciesPotionDesc":"一瓶变身药水，会将使用者的物种变为<species>。",

	"speciesHybridPotionName":"<species>混合物种药水1",
	"speciesHybridPotionDesc":"一瓶变身药水，若使用者的物种兼容，会将其变为<species>混合物种。",

	"invalidPotionName":"无效的<species>物种药水",
	"invalidPotionDesc":"因为某些问题而无法将物种转化为<species>。",

	"duplicatePotionName":"<name>角色药水",
	"duplicatePotionDesc":"一瓶能将使用者变得和<name>一模一样的药水。",


	"candiesEatenIncreased" : "最大体型与消化强度提升，猎物也更难从你体内挣脱",
	"mysteryCandyName" : "^rainbow;神秘冰糖",
	"candyName" : [ // based on tier 基于等级
		"星核苹果冰糖",
		"闪耀甜蜜冰糖",
		"骨悚香蕉冰糖",
		"异变什锦冰糖",
		"^rainbow;纯真元素冰糖",
		"^rainbow;璀璨恒星冰糖",
		null,
		null,
		null,
		"^rainbow;终极冰糖"
	],
	"mysteryCandyDesc" : "谁知道这糖果有多厉害！",
	"candyDesc" : [ // based on tier 基于等级
		"这颗糖果富含来自行星核心的营养成分... 你的胃不至于消化不良... 对吧？",
		"虽然这颗冰糖味道甜美，但它的密度却高得惊人... 就像某些难缠的猎物一样！",
		"这些怪奇的味道会让你的胃加活跃，让食物经历更恐怖的消化过程。",
		"用了数种异变水果制成的冰糖... 含有成为更强大的捕食者所需的一切。",
		"将这三种矿物元素与之相匹配的口味结合，将会为你展现真正的力量！",
		"想吞噬一颗恒星... 那还很遥远，但这把冰糖所蕴含的力量会让你离梦想更进一步！",
		null,
		null,
		null,
		"就像猎物一样，一次只吃一颗已经满足不了你了... 吞下这堆冰糖一定会带给你无与伦比的体验！"
	],

	"allSettingsCardDesc" : "这张卡片将会覆盖所有设定。",
	"prefsSettingsCardDesc" : "这张卡片只会覆盖噬好和行为设定。",
	"locationsSettingsCardDesc" : "这张卡片只会覆盖身体部位设定。",
	"nominomiconDesc" : "左键：查阅所选对象的帮助信息。\n右键：配置所选对象的SBQ设置。",
	"nominomiconName" : "食典",
	"plasticEggName" : "塑料蛋",
	"plasticEggDesc" : "一个可供你钻进去塑料蛋！\n有各种颜色，第一次使用前颜色是未知的。\n按住^green;shift+方向键^reset;摇晃破壳而出。",
	"potionDartGunDesc" : "将另一只手上持有的药水装进飞镖发射出去。",
	"potionDartGunName" : "药水飞镖枪",
	"faultySizeRayDesc" : "一把可以改变体型的射线枪，不过这把看起来...不太靠谱。\n \n^green;按住Shift键来瞄准你自己。^reset;\n \n左键：^cyan;缩小？^reset;\n右键：^orange;变大？^reset;\n按住左/右键充能",
	"faultySizeRayName" : "故障体型射线枪",
	"sizeRayDesc" : "一把可以改变体型的射线枪。\n \n^green;按住Shift键来瞄准你自己。^reset;\n \n左键：^cyan;缩小^reset;\n右键：^orange;变大^reset;\n按住左/右键充能",
	"sizeRayName" : "体型射线枪",
	"clonePotionDesc" : "一瓶可以将别人变得和你一模一样的药水，只需要再加一种原料... 一点你的基因。",
	"clonePotionName" : "克隆药水",
	"genderSwapPotionDesc" : "一瓶会转变你性别的药水。\n \n仅改变设定，生殖器需在SBQ中单独设置。",
	"genderSwapPotionName" : "性转药水",
	"reversionPotionDesc" : "一瓶将你复原为先前形态的药水...\n似乎只是一瓶牛奶？\n \n如果你在噬好中启用了\"永久\"变身，该药水无法将你复原。",
	"reversionPotionName" : "复原药水",
	"unboundSpeciesPotionDesc" : "一瓶可以将别人同化成你所属物种的药水，只需要再加一种原料... 你身体的一部分。",
	"unboundSpeciesPotionName" : "物种药水",

	"ferriBlasterDesc" : "发射沙包般子弹的大手枪。",
	"ferriBlasterName" : "Ferri的爆能枪",
	"ferriChestDesc" : "一件内侧蓬松的皮夹克，上面有几个补丁。",
	"ferriChestName" : "Ferri的飞行夹克",

	"helenaChestDesc" : "一件撕掉袖子的衬衫，上面有一句相当粗俗的短语。",
	"helenaChestName" : "Helena的破衬衫",
	"helenaHeadDesc" : "一个带有狗骨头形状狗牌的带刺项圈。",
	"helenaHeadName" : "Helena的带刺项圈",

	"cloverHeadDesc" : "一顶有趣的帽子，遗憾的是它并不能让你发射光束或制造镜像。",
	"cloverHeadName" : "Clover的小丑帽",

	"lokiHeadDesc" : "一个女巫总是需要一顶好帽子。",
	"lokiHeadName" : "Loki的女巫帽",

	"nudeCosmeticDesc" : "不冷不热的小知识！现在有了OSB，鼠标中键点击装备即可将其隐藏。",
	"nudeHeadDesc" : "便于丸吞时双方互相亲热，以及防止吞咽时卡嗓子。",
	"nudeChestDesc" : "胸甲会让丸吞过程不那么舒服，不如坦诚交流感受彼此。",
	"nudeLegsDesc" : "提前把鞋子与裤子脱掉能更方便地开始做，无论你想先做哪个。",
	"nudeBackDesc" : "你应该知道，随身背饰要单独托运，对吧。",

	// digest drops 消化后吐出的掉落物
	"boneDrop" : {
		"both" : { // when theres both valid NPC/Player prey data and a valid pred name. 同时满足有效的猎物NPC/玩家数据和有效的捕食者名称时。
			"name" : [
				"<preyName>的遗骸"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"这是美味的<preyName>撞见<predName>后，\n<preyName>留存于世的一切。"
			]
		},
		"pred" : { // when theres only a valid pred name and no valid prey data 当仅出现有效的捕食者名称但不满足有效的猎物数据时
			"name" : [
				"<predName>美餐后的吐出的骨头"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"当我们赶到时，现场只看到了<predName>和吐了一地的骨架。"
			]
		},
		"forgetful" : { // 25% chance to roll forgetful, only needs a valid pred name, takes priority if roll is successful even if prey data is valid 25%几率会随机为遗忘掉落物，仅需要有效的捕食者名称，即使猎物数据有效也会随机替换
			"name" : [
				"<predName>不在乎的食丸"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"某个受害者被消化后留下的残骸... 恐怕<predName>早已忘了这只食物。"
			]
		},
		"prey" : { // requires valid NPC/Player prey data 需要有效的猎物NPC/玩家数据
			"name" : [
				"<preyName>的残渣"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"这是<preyName>飞升后遗留在尘世的存在过的证明......"

			]
		},

		"default" : { // fallbacks for when there is no valid pred or prey data 作为没有有效的捕食者或猎物数据时的替代掉落物
			"name" : [
				"一堆骸骨"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"这堆骨头意味着有人沦为了食物......"
			]
		}
	},
	"condomDrop" : {
		"both" : { // when theres both valid NPC/Player prey data and a valid pred name. 同时满足有效的猎物NPC/玩家数据和有效的捕食者名称时。
			"name" : [
				"被<predName>射进套套里的<preyName>"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"<predName>答应了<preyName>不想被消化成食糜的请求，并随即把他塞进了下面。\n至少<predName>还是把它射进了安全套里～",
				"一袋满是精液的避孕套，上面有<predName>留下的便条：\n还好你带了套套<preyName>！不然某个可怜的子宫就要因为你怀孕了～",
				"<predName>将<preyName>握在手中坏笑并说道：\"避孕套儿\"\n很快乳白色的<preyName>就被射进了避孕套内～", "一只避孕套，系着<predName>的留言：\n差点就把<preyName>蛇的到处都是，还好准备了套套。不过我打了死结，老实呆在里面吧！",
				"一个大安全套，上面有个标签：\n<predName>将<preyName>塞进蛋蛋里一通狂搅，全力活塞运动之后终于榨出了乳白色的汁水～",
				"一个带着标签的大避孕套：\n<predName>度过了一段愉悦的时光。<preyName>太不持久了，很快就化成了精液，至少喷射的时候挺爽的～",
				"一团圆鼓鼓的白色套套，标签上写道：\n<predName>和<preyName>在一起。你追我，我追你。如果我，追到你，C-U-M-M-I-N-G～"
			]
		},
		"pred" : { // when theres only a valid pred name and no valid prey data 当仅出现有效的捕食者名称但不满足有效的猎物数据时
			"name" : [
				"射满<predName>精液的大安全套"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一个大避孕套，纸条的一头被随意地系在结上：\n终究只不过是一滩用于取悦<predName>的浓稠精液～",
				"一只大套套，上面挂着个标签：\n<predName>向你保证，这里面很安全~ 就像不久前在我的身体里面一样安全～"
			]
		},
		"forgetful" : { // 25% chance to roll forgetful, only needs a valid pred name, takes priority if roll is successful even if prey data is valid 25%几率会随机为遗忘掉落物，仅需要有效的捕食者名称，即使猎物数据有效也会随机替换
			"name" : [
				"被<predName>弄丢了的大避孕套"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一个贴着照片的大避孕套，打结处系着个标签：\n... 已经忘记你叫啥了，抱歉啦！"
			]
		},
		"prey" : { // requires valid NPC/Player prey data 需要有效的猎物NPC/玩家数据
			"name" : [
				"存放<preyName>的避孕套"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一团圆鼓鼓的白色套套，标签上写道：\n<preyName>没能在里面坚持多久，没一会就融成了一滩白色粘稠的精液～",
				"一个带有便笺大安全套：\n谢谢你，<preyName>！你居然自带了一个大套套。作为报答我就不把你射到其他的地方了~",
				"一只大避孕套，附带一条记录：\n<preyName>刚被塞进去的时候很抗拒，不过在多重爱抚下，很快就放弃挣扎接受了变成精液的命运～"
			]
		},

		"default" : { // fallbacks for when there is no valid pred or prey data 作为没有有效的捕食者或猎物数据时的替代掉落物
			"name" : [
				"某人用过的安全套"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一个系着标签的大安全套... 字迹与图片无法辨识。"
			]
		}
	},
	"milkCartonDrop" : {
		"both" : { // when theres both valid NPC/Player prey data and a valid pred name. 同时满足有效的猎物NPC/玩家数据和有效的捕食者名称时。
			"name" : [
				"<predName>出品的<preyName>风味牛奶"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"<predName>出品的新口味牛奶。\n<preyName>自愿参与新品研发工作。"
			]
		},
		"pred" : { // when theres only a valid pred name and no valid prey data 当仅出现有效的捕食者名称但不满足有效的猎物数据时
			"name" : [
				"<predName>乳业的招牌牛奶"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"<predName>精选原料，亲力亲为，勤勤恳恳炼制的一盒牛乳。"
			]
		},
		"forgetful" : { // 25% chance to roll forgetful, only needs a valid pred name, takes priority if roll is successful even if prey data is valid 25%几率会随机为遗忘掉落物，仅需要有效的捕食者名称，即使猎物数据有效也会随机替换
			"name" : [
				"<predName>不爱喝的牛奶"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一盒<predName>并不满意的牛奶，侧面某人的肖像只画了一半。"
			]
		},
		"prey" : { // requires valid NPC/Player prey data 需要有效的猎物NPC/玩家数据
			"name" : [
				"<preyName>代言的牛奶"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"一大盒纯天然有机无污染牛奶。\n由<preyName>本人亲自代言。"
			]
		},

		"default" : { // fallbacks for when there is no valid pred or prey data 作为没有有效的捕食者或猎物数据时的替代掉落物
			"name" : [
				"一盒牛奶"
			],
			"desc" : [ // index of name is paired with index of desc, uses first name entry if there is no name entry at the matching index 名称索引与desc描述索引成对出现，如果匹配索引中没有名称条目，则使用名字条目
				"看起来像一盒牛奶... 但上面什么都没写，恐怕品质无法保证。"
			]
		}
	},
	"essenceDrop" : {
		"prey" : {
			"name" : ["<preyName>的灵魂精华"],
			"desc" : ["一团闪烁摇曳的火焰，<preyName>脆弱的灵魂精华被存放在这个瓶子里。"]
		},
		"default" : {
			"name" : ["瓶装灵魂精华"],
			"desc" : ["一个装有彩色灵魂火焰的瓶子。"]
		}
	},
	"collapseEssenceStacks" : "合并堆叠",
	"collapseEssenceStacksTip" : "你物品栏中所有属于同一角色、类型相同且含有'精华'的物品将被合并堆叠到一起。\n只有最新物品的数据会被保留。",

	// help tab strings 帮助界面文本
	"helpTabPred":"捕食者",
	"helpTabPredContent" : "要想成为捕食者，你必须在捕食者噬好中选择启用相关的吞食方式。你还可以决定是否要求其他角色在迫使你这么吞食他人之前必须征得你的同意。\n如果你启用了捕食者的张嘴丸吞姿势，但无需征求同意，就代表你允许猎物随意爬进嘴里并强迫你将其咽入肚中。若启用征求同意选项，则会有一个提示来供你确认或拒绝请求，这对于你主动张嘴将猎物丸吞没有影响。\n \n想施展捕食者动作，你需要先装备一个^yellow;SBQ控制器^reset;，在基础制作菜单^green;[C]^reset;中可用一个像素制作。打开动作轮并分配一个动作，你的主要设置与捕食者噬好以及所属物种将决定哪些动作可用。\n \n动作轮还允许你吐出吃下的任何猎物，也能用动作轮或捕食者HUD随时为某只猎物选定其他可用的处置方式。\n \n在右下角，会有一个HUD来显示你体内食物的生命值状况，以及正在对他们施加的任何额外效果进度。这个HUD还允许你快速调整某个部位的消化与附加效果，以及选择猎物并决定如何处置他们。\n \n如果你想变得更大更强......让猎物更难挣脱，并用更快的速度将他们溶解为食物，你可以用你发现的每种新资源来合成一些特别的小零食。\n \n大红色的^red;无路可逃^reset;按钮将使你进入^red;无路可逃^reset;状态，这将暂停你的基础被动能量回复，也无法利用从猎物身上汲取的能量。但会阻止任何猎物在你体内乱钻以及逃脱，直到你耗尽能量。若你处在这种状态，其图标会在左上角状态效果栏显示。\n \n当选中了一只吞入体内的NPC时，你会注意到可对其进行^yellow;囚禁^reset;行动。该行动会将NPC\"囚禁\"在你的身体深处，隔绝其与外界的任何联系，将他们的实体存在从这个世界中移除。NPC的数据将一直存储在你的体内并跟随着你，允许你无限期地囚禁他们或带其去往其他世界，直到你决定释放他们。",

	"helpTabPrey" : "猎物",
	"helpTabPreyContent" : "要想成为猎物，你必须在猎物噬好中选择启用相关的被吞食方式。你还可以决定是否要求其他角色必须在这样吞食你之前征得你的同意。\n如果你启用了猎物的张嘴丸吞姿势，但无需征求同意，就代表你允许捕食者在任意时间问都不问直接一口吃掉你。若启用征求同意选项，则会有一个提示来供你确认或拒绝请求，这对于你主动钻入捕食者胃里没有影响。\n \n当你被吃掉后，右下角会弹出一个HUD，提示你当前所处的身体部位，此次丸吞过了多久和捕食者正对你施加特殊效果的进度。右侧指示箭头的颜色会提示按对应方向键朝那个方向挣扎会有什么结果。\n \n按住^green;Shift^reset;键时再按方向键来假意挣扎，仅播放动画与声音而不会产生任何实际效果，很适合想与捕食者亲热又不想弄疼对方的情况。\n \n方向箭头颜色含义：\n \n^red;红色^reset;\n你将会逃出捕食者身体。\n^blue;蓝色^reset;\n会使捕食者改变状态/姿势。\n^green;绿色^reset;\n向着逃脱机会挣扎，一般你会爬到能逃出捕食者的身体部位，或者改变捕食者的状态/姿势来创造逃出去的机会。\n^cyan;青色^reset;\n挣扎着爬入捕食者临近的身体部位。\n^yellow;黄色^reset;\n会让捕食者对你执行某种动作。\n^#AAA;(封锁)^reset;\n捕食者进入'无路可逃'状态，挣扎不再有实际效果，直到他们因你不断翻江倒海而耗尽能量。\n \n \n如果因为某些原因卡在捕食者体内完全出不来，只需要在聊天框中输入^yellow;/sbq escape^reset;命令即可无视任何情况立刻脱身。\n请注意，这个命令相当破坏沉浸感且只有玩家能使用，即使你被溶解或被融合也能无需恢复过程立刻逃脱。",

	"helpTabTransformation" : "同化与变身",
	"helpTabTransformationContent" : "在变身为足够多的不同物种后，你将解锁^yellow;变身^reset;头部科技，装备后就可以自由变身为你曾变成过的任何物种。一些快速解锁的方法是从商店购买几瓶神秘药水并饮用，利用SBQ殖民地契约生成不同物种的租户NPC并被他们丸吞同化，亦或者寻找其他喜欢丸吞的NPC与玩家，满足他们食欲的同时请求帮你一把。\n \n如果未启用相关设置，大多数药水效果都只是暂时的，你通常会在5-10分钟内变回原来的物种，具体取决于变身方法。如果到时间了你仍没有变回原样，只需从商店获取一瓶^yellow;复原药水^reset;并饮用即可变回来。\n请注意，如果你启用了永久变身选项，任何方式导致的物种改变都会\"永久\"生效，复原药水不再能将你变回原样。(或者说，你所变成的新物种就是你的\"原样\")\n \n通过^yellow;变身^reset;科技进行的变身没有时间限制，即使没有启用无期限变身选项也会一直持续下去。\n该科技还可以用来自定义每个物种的外观与性别，你甚至可以更改作为某一个物种时使用的名称！这对于角色扮演非常有用，不再依赖于单独的人物存档来\"更换角色\"。\n \n通过克隆药水变身会覆盖你的自定义特征设置并变更你的名称，这只是暂时的！^#555;除非它并不是 ;)^reset; 如果你变身成未曾变过的物种，此时你作为新物种的外貌会被保存，除此之外克隆药水永远不会变更替换你已有的的自定义设置，所以不必担心随意尝试它们！\n \n对于任何你正在进行的游戏中所变更的名称，虽然它会被保存进角色数据，但你无法在不断开并重新连接服务器的前提下更改客户端连接名称，所以我们只是让它代替你输入了'/nick'命令来更改你的服务器昵称。",

	"helpTabSize":"体型",
	"helpTabSizeContent" : "你会发现你的体型会通过各种方式变大或缩小。如果你希望停止这种情况，只需在你的噬好界面为体型设定更改限制。\n \n不过，如果你想要突破这些限制... 来变得更大更好更壮，你可以用你发现的每种新资源来合成一些特别的小零食。\n \n^cyan;体型射线枪^reset;\n体型射线枪每次命中都会逐渐增大或缩小目标的体型，充能时间越长，目标体型变化的幅度就越大。你还可以按住^green;Shift^reset;键来瞄准你自己！\n \n \n体型也会影响你的食量以及作为食物时的体积。你的体型越大，就意味着你能同时吃下更多食物，或在捕食者体内占用更多空间。你无法吃下体型远大于你的猎物，也不允许吃下体型远小于你的猎物。",

	"helpTabUpgrades":"升级",
	"helpTabUpgradesContent" : "^yellow;冰糖^reset;\n一种有着不同等级的特殊零食，可以在铁砧处(FU中可用军备作坊)制作或作为战利品找到。吞食冰糖可以提升你的 ^green;消化强度^reset; ^orange;逃脱难度^reset; ^green;猎物容量^reset; 和 ^orange;最大体型^reset;。相较于收集材料制作，作为战利品找到的冰糖可能会具有更强的效果。如果你找到一块有着^green;“发光”^reset;轮廓的冰糖，那意味着这块冰糖在相同T类别冰糖中具有最高的潜力。越高等级的发光冰糖越难找到，但会带来越好的效果！如果在某一T类别的冰糖中你还没有吃到效果最好的那一颗，把找到的所有对应类别的冰糖都吃掉不失为一种选择，在满足你吞食欲的同时，某颗冰糖可能会有着比你最初吃的那颗更好的增益效果。你可以在SBQ设置中的^yellow;杂项^reset;选项卡下检查它们。\n \n增益效果对某些属性有着不同的加成与限制，^green;猎物容量^reset;上限为32，^orange;最大体型^reset;上限为10x。\n \n关于战利品冰糖增益效果的计算公式：每颗糖果都有基础1级的增益效果，根据T后面的数字决定抛几次硬币，硬币正面朝上的次数越多增益效果越强，一个T1冰糖最高能有2级增益效果，一个T10冰糖最高能有11级增益效果。",

	"helpTabDeeds":"契约",
	"helpTabDeedsContent" : "SBQ的NPC可以用SBQ的专属殖民地契约生成，你可以在^cyan;Auri的小店^reset;购入这些契约。\n放置契约并与其交互打开契约菜单，选择你想要的NPC并点击^yellow;生成^reset;按钮即可。原创角色(OC)将会置顶显示，并有一些空隙将他们与物种支持随机生成的NPC们隔开。\n契约内显示了你的租户们所需求的殖民地标签，并允许你直接在契约内买到带有这些标签的物品！\n你也可以打开NPC的^yellow;设置^reset;，以及对其^yellow;自定义^reset;。有时你会注意到一只NPC被^orange;掳走了^reset;，这是因为有其他玩家正在^yellow;囚禁^reset;这只NPC，在那个喜欢囚禁play的玩家玩腻了之前NPC都不会重生，或者你也可以选择按下按钮来召回他们。\n \n除此之外，SBQ契约上还有^green;电线端口^reset;，在为^blue;输入端口^reset;连接电线后，接入的电线必须为^green;连通状态^reset;才能让租户重生，只要还有租户存活，^red;输出端口^reset;就会一直是连通状态。\nSBQ同时也提供了多种样式的殖民地契约。\n \n^cyan;迷你契约^reset;只占用一个格子。\n \n^cyan;营地标记^reset;不需要背景墙来放置，也不需要一个封闭的空间，与原版契约相反它只计算半径15格内的殖民地标签。\n \n^red;邪饿契约^reset;是殖民地契约的一个变体，用于生成带有敌意的捕食者恶徒NPC。每个契约都会随机指定自己一个敌方小队编号并附加给其生成的NPC，将邪饿契约用电线连接到一起可以让他们组成一个小队，务必确保连接时没有把首尾连接到一起！",

	"helpTabOther":"其他",
	"helpTabOtherContent" : "^yellow;食典^reset;\n通用工具，用于访问SBQ相关设置和获取相关信息。任何已加载SBQ脚本的NPC或怪物都应能打开其设置菜单，大部分(如果有例外)非SBQ实体将只有猎物和融合选项可供配置，出于尊重将禁用一些特殊NPC的某些设置。\n \n^yellow;SSVM^reset;\n许多年过来现已不再是依赖项。\n并非不兼容，但其功能与本MOD的功能之间没有对应关系，这些是完全独立的模组。\n \n^yellow;StarPounds^reset;\n据我所知，应该不兼容，尚未添加对应关系。",

	"helpTabCredits":"致谢",
	"helpTabCreditsContent" : "^#7dad27;LokiVulpix^reset;\nMOD的主要开发者！\npatreon.com/LokiVulpix ^#AAA;(标题屏幕的模组菜单中有真的可供点击跳转的链接)^reset;\n也可以在itaku上找到我的作品 itaku.ee/profile/lokivulpix\n我制作了大部分的动图并完成了几乎所有的编程！\n \n^#7ddfff;Zygan^reset;\n贴图美工\n理智检查员\n \n \n其他贡献者\n \n^blue;Akari Kaen^reset;^blue;ArgobargSoup^reset;\n^blue;Blueninja^reset;\n^purple;Cosmic^reset;\n^yellow;Ferrilata_^reset;\n^red;FFWizard^reset;\n^reset;HornySe7en^purple;\nradiantAurora^reset;\n^blue;Xodious^reset;\n^red;Zovoroth^reset;\n \n \n委托人\n \nxeronious\n^rainbow;Lakota Amitola^reset;\n^blue;BRYZN-Z18^reset;\n^orange;Fevix^reset;\n^red;FFWizard^reset;\n^blue;Akari Kaen^reset;\n \n \n支持者\n \n",

	"helpTabNPCs" : "NPC们",
	"helpTabNPCsContent" : "不仅仅能成为^yellow;捕食者^reset;与^yellow;猎物^reset;，SBQ的NPC同时还支持配置并使用任意一种丸吞姿势。\n可用^yellow;食典^reset;来对每个NPC的设定进行配置。\nNPC基本上遵循和玩家一样的丸吞规则与限制。\n \n世界中自然生成的^yellow;村民^reset;，^yellow;守卫^reset;，与^red;恶徒^reset;NPC有^yellow;1/8^reset;的概率转而作为丸吞NPC生成。初次生成时，他们也会随机生成SBQ设置，然而丸吞恶徒在生成时总会是残虐性格，启用^yellow;Oral Vore^reset;，并尝试^red;致死消化^reset;。\n \n丸吞NPC的设置面板中有一个^cyan;行为^reset;选项卡。在这里可以配置他们有多青睐哪一种丸吞姿势，无论是狩猎其他猎物还是主动成为食物。有多少可能会征求对方同意，以及限制他们只在特定情况下出现某些行为，例如只有在饱食低于50%的时候才会Oral Vore，或为友好角色预留Unbirth的位置。\n这里也可以为NPC选择对话时的性格，以及决定他们是否会提供或参与任务。\n \n有时一些NPC想主导某件事的时候会弹出一个交互轮盘，当NPC的特定动作没有写明文本，亦或是启用了设置中的禁用对话选项，这个轮盘菜单将会代替交互窗口出现。",

	"globalConfigGui" : "待办 - 在这个菜单中不必输入原始json文本。\n这个菜单允许你对某些设置进行覆盖以进行管理目的，在解包文件中查阅^yellow;/sbq.config:defaultSettings.any^reset;来了解配置结构。\n你也可以仅仅在安装存储目录下的^yellow;starbound.config^reset;调整某些特定值。\n想要使任何新覆盖设置生效，都必须重新加载世界。",
	"globalOverrides" : "该配置会施加给由你主持的任何一个世界。",
	"worldOverrides" : "该配置只会施加给当前世界\n你必须是^orange;管理员^reset;或^orange;主机^reset;才能进行配置。",

	"overrideSettings" : "覆盖设置",
	"invalidSettings" : "禁用设置",
	"overrideSettingsTip" : "覆盖设置会将某个设置锁定为特定值。\n这一般旨在用于将布尔值设置为false，例如你可以在某个世界中禁用特定的丸吞方式。",
	"invalidSettingsTip" : "禁用设置阻止某个设置取特定值，并将其映射到另一个允许的值。\n这可以在具有多个值的设置中仅禁用某几个选项，而不是锁选为某一特定类型。例如禁用默认吞食效果中的致死消化并将其自动改为软消化，同时不影响治愈或暂不消化选项。",
	"breakObject" : "拆除该执行器",
	"adminOrHostRequired" : "你必须是管理员或房主才能这么做",

	"missingPred":"捕食者失踪",
	"missingPredPrompt":"此前将你吞进体内的捕食者似乎不见了。\n \n你想趁此机会逃脱还是乖乖呆身体里等他们回来？",
	"missingPredEscape":"快逃！",
	"missingPredWait":"再等一等",

	"LokiVulpix/Sprink-OV-Pollo-ShortDesc" : "Sprink (OV)",
	"LokiVulpix/Sprink-OV-Pollo-Desc" : "Sprink！这只喜欢OV，动画由Pollo制作。",

	"LokiVulpix/Sprink-CV-Pollo-ShortDesc" : "Sprink (CV)",
	"LokiVulpix/Sprink-CV-Pollo-Desc" : "Sprink！这只喜欢CV，动画由Pollo制作。",

	"LokiVulpix/Hickory-ShortDesc" : "Hickory",
	"LokiVulpix/Hickory-Desc" : "巫婆妈咪。11",

	"therianizingRockDesc" : "这块岩石散发着高浓度会导致兽化的射线。",
	"therianizingRockShortDesc" : "兽化石",

	"genderizingRockDesc" : "这块岩石散发着高浓度会导致变性的射线。",
	"genderizingRockShortDesc" : "变性石",

	"feminizingRockDesc" : "这块岩石散发着高浓度会诱导变为雌性的射线。",
	"feminizingRockShortDesc" : "雌化石",

	"masculinizingRockDesc" : "这块岩石散发着高浓度会诱导变为雄性的射线。",
	"masculinizingRockShortDesc" : "雄化石",

	"rockAmountTip" : "放射出粒子的数量。",
	"rockLifetimeTip" : "放射出粒子的存续时间。",
	"rockIdentitiesTip" : "放射粒子会造成随机特征与物种变动。",
	"lifetime" : "粒子存续时间",
	"amount" : "粒子数量",
	"identities" : "随机特征111",

	"growthRayTrapDesc" : "会发射出巨化射线。制作陷阱的绝佳道具，最适合用来将受害者们变大到门框都会卡住头的大小。\n可用食典进行配置。",
	"growthRayTrapShortDesc" : "巨化射线发射器",

	"shrinkRayTrapDesc" : "会发射出缩小射线。制作陷阱的绝佳道具，最适合用来将受害者们缩小到抬头连门把手都看不到的大小。\n可用食典进行配置。",
	"shrinkRayTrapShortDesc" : "缩小射线发射器",

	"mouseHoleDesc" : "一个老鼠洞... 小家伙们应该能钻进去。\n可用食典进行配置。",
	"mouseHoleShortDesc" : "鼠鼠洞",
	"mouseRoomDesc" : "创造一片高亮的区域... 小家伙们在里面应该会更显眼一些。\n可用食典进行配置。",
	"mouseRoomShortDesc" : "鼠鼠空间",

	"sbqCommands" : "可用的子命令： ^yellow;help  escape  customize  settings  config  skipToTier  setUpgrade  setTieredUpgrade  setSetting",
	"helpCommand" : {
		"help" : "^yellow;/sbq help <command>^reset;\n解释该子命令的效果与用途。",
		"escape" : "^yellow;/sbq escape^reset;\n立刻从捕食者体内逃脱。",
		"settings" : "^yellow;/sbq settings^reset;\n打开SBQ设置",
		"config" : "^yellow;/sbq config^reset;\n打开SBQ通用配置",
		"settieredupgrade" : "^yellow;/sbq setTieredUpgrade <name> <tier> <bonus>^reset;\n若该等级新额外值大于当前额外值，则设置该升级。111",
		"setupgrade" : "^yellow;/sbq setUpgrade <name> <value>^reset;\n设置升级至给定的值。",
		"setsetting" : "^yellow;/sbq setSetting <name> <value> [groupName] [groupId]^reset;\n设置设定至给定的值。\n \n^yellow;/sbq setSetting mainEffect heal locations belly^reset;\n[groupName] 和 [groupId] 应当为属于小组的设定。111",
		"skiptotier" : "^yellow;/sbq skipToTier <tier>^reset;\n自动将给定等级添加至可用的升级项。",
		"customize" : "^yellow;/sbq customize^reset;\n打开简易自定义菜单。"
	},
	"appliedTieredUpgrade" : "添加升级 '%s' 等级 '%s' 额外 '%s' 111",
	"appliedUpgrade" : "添加升级 '%s' 比值为 '%s' 111",
	"appliedSetting" : "添加设定 '%s' 比值为 '%s' 111",
	"appliedGroupSetting" : "添加设定 '%s' 比值 '%s' 至 '%s.%s' 111",
	"invalidCommand" : "子命令无效 '%s'",
	"helpTabCommands" : "命令",

	"openedSettings" : "开放的设定",
	"openedConfig" : "开放的配置",
	"openedCustomize" : "开放的自定义",

	"brokenSSVM" : "The latest SSVM release v9.5 (2019) has several bugs that interfere with other mods as well as itself. The SBQ readme has a link to a fixed version of SSVM.",
	"updateSSVM" : "The SSVM bugfix fork has been updated. Check the SBQ readme for the link.",
	"titleError" : "SBQ's postload script encountered an error, please send the developers the error log found in /starbound/logs",

	"error":"错误"
}
