{
  "belly": "胃袋",
  "womb": "子宫",
  "pussy": "阴道",
  "cock": "阴茎",
  "balls": "睾丸",
  "balls_left": "睾丸(左)",
  "balls_right": "睾丸(右)",
  "breasts": "乳房",
  "breasts_left": "乳房(左)",
  "breasts_right": "乳房(右)",
  "ass": "屁股",
  "cleavage": "乳沟",
  "tail": "尾巴",
  "navel": "肚脐",
  "slime": "粘液",
  "modDescription": "这是一个18+的特殊爱好MOD，主要描写了吞食、微/巨以及TF等特殊癖好。 \n 请保持尊重，如果你不喜欢，请不要使用此MOD。",
  "terms": "我悉知本模组的所有内容均为18+元素 \n 我不会在没有年龄限制的情况下提供链接或以任何方式展示它，例如将视频上传到YouTube、在Twitch或任何其他限制18岁以上内容的社交媒体平台上播放。",
  "agree": "我同意这些条款。",
  "allFetishes": "所有XP，来者不拒！",
  "noFetishes": "等等，再观望一下。",
  "allPred": "所有捕食姿势",
  "noPred": "不是捕食者",
  "allPrey": "全部被吞食方式",
  "noPrey": "我不想成为食物",
  "allTF": "所有同化方式",
  "noTF": "不要同化",
  "settingsTitle": "Starbecue设置",
  "preditor": "捕食者设置",
  "pred": "捕食者",
  "prey": "猎物",
  "prefs": "噬好",
  "help": "帮助",
  "misc": "杂项",
  "vorePredPrefs": "捕食者噬好",
  "vorePreyPrefs": "猎物噬好",
  "preferences": "偏好",
  "infused": "融合",
  "infusePredPrefs": "捕食者融合",
  "infusePreyPrefs": "猎物融合",
  "transformationPrefs": "物种变身设定",
  "otherPrefs": "其它爱好",
  "settings": "设定",
  "sizePrefs": "体型设定",
  "value": "比值",
  "importSettings": "放入设定卡\n导入设定",
  "exportAllSettings": "将所有设定\n完整导出",
  "exportPrefsOnly": "仅导出\n噬好设定",
  "exportLocationsOnly": "仅导出\n身体部位设定",
  "prefsSettingsCard": "SBQ噬好设定卡",
  "allSettingsCard": "SBQ完整设定卡",
  "locationsSettingsCard": "SBQ身体部位设定卡",
  "targets": "目标",
  "behavior": "行为",
  "predBehavior": "捕食者相关行为",
  "preyBehavior": "猎物相关行为",
  "infuseeBehavior": "被融合相关行为",
  "infuseHostBehavior": "融合主体相关行为",
  "domBehavior": "强势行为",
  "subBehavior": "顺从行为",
  "upgradeInput": "在此使用升级",
  "upgradesAcquired": "已获得的升级",
  "convertNPC": "改变NPC类型",
  "convertToType": "将该NPC改为下方类型",
  "slot": "插槽",
  "infuseSlots": "融合插槽",
  "health": "生命",
  "healthTip": "当前生命值，更低的生命值意味着更少的机会在被消化前挣脱。",
  "hunger": "饱食",
  "hungerTip": "当前饱食度，随时间推移而消耗，找些食物来补充饱食度。",
  "lust": "性欲",
  "lustTip": "性欲水平，随时间增长到某一水平后停止，进一步激发性欲直到高潮来发泄。",
  "rest": "精力",
  "restTip": "精力水平，随时间消耗，在舒适或放松时逐渐恢复。",
  "never": "从不",
  "yes": "好呀",
  "no": "不行",
  "noYes": "不可以……^#AAA;(但其实你很想这么做)",
  "dom": "强势",
  "switch": "随时变更",
  "sub": "顺从",
  "leanSubDomTip": "决定了这个角色在更多时候表现得顺从还是强势。",
  "nextPage": "下一页",
  "config": "配置",
  "assignSpeciesDesc": "配置你喜爱的物种，以便在不同物种之间快速切换。",
  "assignSpeciesSlot": "为这个槽位选定此前你变化过的物种。",
  "customizeDesc": "自定义每个物种的外观和名称！",
  "follow": "跟随",
  "stay": "停留",
  "recentlyDigested": "最近消化",
  "clearRecentlyDigestedTip": "彻底消化这些早已成了食物的灵魂。\n（关闭窗口来遗忘他们）",
  "optionYes": "好呀",
  "optionNo": "不行",
  "optionNoYes": "不可以……\n^#AAA;(但其实你很想这么做)",
  "ynPrompt": "[给出答复...]",
  "optionsPrompt": "[交互选项]",
  "choosePrompt": "[选择]",
  "tellMeAboutSelf": "和我多聊聊你自己。",
  "myNameIs": "我的名字是<entityName>",
  "cosmeticSlots": "装饰品槽位",
  "customize": "自定义",
  "summonTenant": "生成",
  "summonTenantTip": "警告！直接生成新租户会清除当前所有租户的设定数据！ \n 保存需要的数据后点击三次以确认驱逐现有租户。",
  "insertCard": "添加租户",
  "colonyTags": "殖民地标签",
  "orderFurniture": "订购家具",
  "tagsNeeds": "需求",
  "tags": "标签",
  "remove": "移除",
  "callTenants": "呼叫租户",
  "price": "价格",
  "createdOnDate": "%x",
  "lockedDeed": "上锁",
  "lockedDeedTip": "锁定此契约，防止其他人编辑它及其角色。",
  "hiddenDeed": "隐藏",
  "hiddenDeedTip": "使此契约几乎不可见。",
  "targetOwned": "目标属于其他人。",
  "requiresHouse": "需要封闭的房屋。",
  "requiresCamp": "需要未封闭的营地。",
  "requiresEvil": "必须是邪恶的 >:3",
  "requiresFriendly": "必须是友好的 :)",
  "requiresBoss": "必须是小队首领！",
  "deedName": "SBQ殖民地契约",
  "deedDesc": "可以召唤和你一样喜欢丸吞的NPC契约，需放置在有门和光源的封闭空间中。",
  "miniDeedName": "SBQ迷你契约",
  "miniDeedDesc": "可以召唤和你一样喜欢丸吞的NPC迷你契约，需放置在有门和光源的封闭空间中。",
  "campName": "SBQ营地标记",
  "campDesc": "放置后将半径15格内标记为营地并根据其中的物品召唤喜欢丸吞的NPC，不要求封闭。",
  "evilDeedName": "SBQ邪饿殖民地契约",
  "evilDeedDesc": "用于召唤一些穷凶极饿的反派NPC（总想着丸吞你） \n 连接电线可使他们组成小队，链接起始点将成为小队首领。",
  "miniEvilDeedName": "SBQ邪饿迷你契约",
  "evilCampName": "SBQ邪饿营地标记",
  "npcAlreadyExists": "NPC已存在。",
  "invalidNPC": "NPC类型无效。",
  "oralVore": "张嘴丸吞",
  "tailVore": "尾巴吞吃",
  "navelVore": "肚脐吸入",
  "absorbVore": "包裹吸收",
  "analVore": "肛门吞食",
  "unbirthVore": "胎内回归",
  "breastVore": "乳房Vore",
  "cockVore": "阴茎吸食",
  "predEnabledTip": "你迫不及待地想尝试这种吞食姿势了。",
  "predConsentRequiredTip": "别人须要得到你的同意才能强迫你吞食。",
  "preyEnabledTip": "允许其他人以这种方式吃掉你。",
  "preyConsentRequiredTip": "别人须要得到你的同意才能这样享用你。",
  "thighsInfuse": "尚有意识的脂肪",
  "bellyInfuse": "胃袋融合",
  "breastInfuse": "乳房融合",
  "pussyInfuse": "阴道融合",
  "cockInfuse": "阴茎融合",
  "pawInfuse": "爪子融合",
  "tailInfuse": "尾巴融合",
  "transformDigested": "同化",
  "thighsInfuseDigested": "尚有意识的脂肪",
  "bellyInfuseDigested": "腹部融合",
  "breastInfuseDigested": "乳房融合",
  "pussyInfuseDigested": "阴道融合",
  "cockInfuseDigested": "阴茎融合",
  "pawInfuseDigested": "爪子融合",
  "tailInfuseDigested": "尾巴融合",
  "none": "暂不消化",
  "heal": "治愈",
  "softDigest": "软消化",
  "digest": "消化",
  "healDesc": "根据消化能力治疗猎物，消耗能量。",
  "healRequestDesc": "请求捕食者治疗你。",
  "digestDesc": "基于消化强度溶解猎物来补充饥饿和健康。",
  "digestRequestDesc": "请求捕食者彻底消化你。",
  "softDigestDesc": "基于消化强度溶解猎物来补充饥饿和健康。使猎物只剩 1 HP。",
  "softDigestRequestDesc": "请求捕食者消化你，。",
  "cumDigestDesc": "基于溶精强度溶解猎物并激发性欲。当猎物被完全溶解后可能会留下避孕套。",
  "cumSoftDigestDesc": "基于溶精强度溶解猎物并激发性欲。使猎物只剩 1 HP。当猎物被“完全”融化时可能会产生避孕套。",
  "femcumDigestDesc": "基于榨汁强度榨干猎物并激发性欲。当猎物被完全融化时可能会产生避孕套。",
  "femcumSoftDigestDesc": "基于榨汁强度榨干猎物并激发性欲。使猎物只剩 1 HP。当猎物被“完全”融化时可能会产生避孕套。",
  "milkDigestDesc": "基于炼乳强度炼化猎物并激发性欲。当猎物被充分搅拌时可能会产生乳汁。",
  "milkSoftDigestDesc": "基于炼乳强度炼化猎物并激发性欲。使猎物只剩 1 HP。当猎物被“充分”搅拌时可能会产生乳汁。",
  "cumHealDesc": "基于溶精强度治愈猎物，消耗能量。",
  "femcumHealDesc": "治疗猎物的速度更快，消耗的能量更少，但会导致饥饿。",
  "milkHealDesc": "治疗猎物的速度更快，消耗的能量更少，但会导致饥饿。",
  "energyDrainDesc": "从吞进体内的猎物身上汲取能量为己所用。",
  "reformDigested": "重塑",
  "reformHealDesc": "软消化后慢慢治愈猎物，使其重塑。一旦他们的HP满了就可以使用^yellow;重塑^reset;行为。",
  "noneDesc": "无效果",
  "noneRequestDesc": "请求无效果。",
  "mainSettings": "主要设置",
  "resistances": "抗性",
  "unordered": "无序(仅限于管理员)",
  "escapeDifficulty": "逃离你身体的难度",
  "escapeDifficultyTip": "猎物从你体内挣脱出来的难度有多大。",
  "acidDigestPower": "消化强度",
  "acidDigestPowerTip": "你的消化液对猎物的作用效果有多强。",
  "acidDigestResistance": "消化抗性",
  "acidDigestResistanceTip": "你对被消化的抗性。抗性越高，捕食者越难把你消化。",
  "acidDigestFatalImmuneTip": "酸液只能将你的身体消化分解，无法致命。\n不会影响被消化后是否留下骸骨。",
  "acidDigestDropsTip": "若猎物也启用了相关选项，消化完猎物留下来的骨头会被吐出来。",
  "acidDigestDropsAllowTip": "若捕食者也启用了相关选项，你被消化后将会留下一堆骸骨。",
  "cumDigestPower": "溶精强度",
  "cumDigestPowerTip": "你的精液对猎物的作用效果有多强。",
  "cumDigestResistance": "溶精抗性",
  "cumDigestResistanceTip": "在精液中的溶解抗性。抗性越高，捕食者越难把你溶解。",
  "cumDigestFatalImmuneTip": "精液只能将你的身体溶解，无法致命。\n不影响被溶解后会不会留下射满精液的避孕套。",
  "cumDigestDropsTip": "若猎物也启用了相关选项，由溶解猎物而来的精液会射满一个避孕套。",
  "cumDigestDropsAllowTip": "若捕食者也启用了相关选项，你被溶解后精液将被射入一个安全套内。",
  "femcumDigestPower": "榨汁强度",
  "femcumDigestPowerTip": "你的爱液对猎物的作用效果有多强。",
  "femcumDigestResistance": "榨汁抗性",
  "femcumDigestResistanceTip": "在爱液中的榨汁抗性。抗性越高，捕食者越难把你榨干。",
  "femcumDigestFatalImmuneTip": "爱液只能将你的身体榨成汁水，无法致命。\n不影响被榨干后会不会留下灌满淫水的安全套。",
  "femcumDigestDropsTip": "若猎物也启用了相关选项，由猎物身体榨成的爱液会喷挤进避孕套里留存。",
  "femcumDigestDropsAllowTip": "若捕食者也启用了相关选项，从你身上榨出的爱液将会喷入一个安全套内。",
  "milkDigestPower": "炼乳强度",
  "milkDigestPowerTip": "你的乳汁对猎物的作用效果有多强。",
  "milkDigestResistance": "炼乳抗性",
  "milkDigestResistanceTip": "在乳汁中的炼乳抗性。抗性越高，捕食者越难把你炼化。",
  "milkDigestFatalImmuneTip": "乳汁只能将你的身体炼成奶水，无法致命。\n不影响被炼化后会不会留下挤满乳汁的奶盒。",
  "milkDigestDropsTip": "若猎物也启用了相关选项，炼化猎物得来的乳汁将会挤入奶盒中保存。",
  "milkDigestDropsAllowTip": "若捕食者也启用了相关选项，由你炼制出的乳汁会灌装进奶盒中。",
  "mainEffect": "默认吞食效果",
  "secondaryEffects": "附加效果",
  "digestedEffects": "消化完成后施加的效果",
  "infusedEffects": "融合完成后施加的效果",
  "energyDrain": "能量汲取",
  "hammerspace": "无限吞食",
  "infusePreferDirect": "偏爱直接融合",
  "infusePreferDirectTip": "更偏爱于直接融合为一体，无需事先发生任何相关的丸吞行为。",
  "targetFriendlyTip": "友好角色",
  "targetHostileTip": "敌对角色",
  "targetPlayerTip": "玩家人物",
  "targetOCTip": "OC角色",
  "targetCompatibleTip": "兼容SBQ的角色",
  "targetOtherTip": "其他角色",
  "willingness": "意愿",
  "favored": "偏爱",
  "willingnessTip": "该角色有多大的可能“乐意”接受这个姿势。",
  "favoredTip": "该角色有多喜欢主动用这个姿势进行觅食",
  "predAlwaysDigestHostiles": "消化敌方",
  "predAlwaysDigestHostilesTip": "会一直尝试消化溶解敌方实体，无论所在部位设置了哪种默认吞食效果。",
  "minimumScaleTip": "可以缩小到的最小体型。\n出于明智的考虑，下限为0.125（1/8）。",
  "maximumScaleTip": "可以放大到的最大体型。\n找一些东西“升级”你的力量来变得更高更大…\n但为了不让你的电脑爆炸，上限为10倍。",
  "currentScaleTip": "当前体型。\n若能找到某个工具的话就能自由设置了……",
  "grabbed": "允许被抓住",
  "grabbedTip": "允许其他人抱着你或将你捡起来。",
  "pinned": "允许被踩压",
  "pinnedTip": "允许其他人通过踩或坐在你身上来压住你。",
  "displayEffect": "显示数字与粒子",
  "displayEffectTip": "你在消化食物时会生成诸如数字之类的粒子来表示其效果。",
  "nipplesVisible": "乳头可见",
  "nipplesVisibleTip": "乳头在乳房上可见。",
  "navelVisible": "肚脐可见",
  "navelVisibleTip": "肚脐眼在肚子上可见。",
  "struggleSounds": "挣扎声",
  "struggleSoundsTip": "猎物在该部位挣扎搅动的声音能被外界听到。",
  "gurgleSounds": "咕噜声",
  "gurgleSoundsTip": "该部位内有活的食物时会咕噜作响。",
  "interactDialogue": "对话交互窗",
  "interactDialogueTip": "与该角色交互时会出现对话交互窗。\n若未启用，则会在屏幕中心弹出一个交互轮盘代替交互窗供你操作。",
  "actionDialogue": "行动对话",
  "actionDialogueTip": "该角色(被)执行动作或挣扎时会有相关对话。",
  "lockDownChance": "无路可逃概率",
  "lockDownChanceTip": "该NPC会时不时启用无路可逃状态来阻止你逃出去。\n他们问都不问就把你给吃了，只能祈祷不会在你即将被消化的时候断送你最后逃出去的希望。",
  "healthThreshold": "生命阈值",
  "healthThresholdMinTip": "该角色的生命值大于最低生命阈值时才会尝试这个姿势。",
  "healthThresholdMaxTip": "该角色的生命值小于最高生命阈值时才会尝试这个姿势。",
  "hungerThreshold": "饱食阈值",
  "hungerThresholdMinTip": "该角色的饱食大于最低饱食阈值时才会尝试这个姿势。",
  "hungerThresholdMaxTip": "该角色的饱食小于最高饱食阈值时才会尝试这个姿势。",
  "lustThreshold": "性欲阈值",
  "lustThresholdMinTip": "该角色的性欲大于最低性欲阈值时才会尝试这个姿势。",
  "lustThresholdMaxTip": "该角色的性欲小于最高性欲阈值时才会尝试这个姿势。",
  "restThreshold": "精力阈值",
  "restThresholdMinTip": "该角色的精力大于最低精力阈值时才会尝试这个姿势。",
  "restThresholdMaxTip": "该角色的精力小于最高精力阈值时才会尝试这个姿势。",
  "maxPossibleScale": "最大可用体型",
  "maxPossibleScaleTip": "你的人物当前所能放大到的最大体型。\n由你获得的升级数量决定。",
  "maxDigestPower": "最大消化强度",
  "maxDigestPowerTip": "你所能达到的最大消化强度。\n由你获得的升级数量决定。",
  "locations": "部位",
  "locationsTip": "部位设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "vorePrefs": "Vore偏好",
  "vorePrefsTip": "Vore偏好设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "infusePrefs": "融合偏好",
  "infusePrefsTip": "融合偏好设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "visualMin": "最小充填值",
  "visualMinTip": "该部位将会保持的最小鼓胀程度。\n该数值仅影响视觉表现，不会影响实际丸吞容量。",
  "visualMinAdd": "充填增添",
  "visualMinAddTip": "若启用该选项，右侧的最小充填值不再仅为视觉表现。\n最小充填值将纳入容量计算，使该部位同时容纳更少食物。",
  "visualMaxTip": "该部位所能达到的最大鼓胀程度。\n该数值仅影响视觉表现，不会影响实际丸吞容量。",
  "minFill": "最小充填",
  "maxFill": "最大充填",
  "multiply": "体积乘数",
  "multiplyFillTip": "每只食物的充填体积修正。\n越大的乘数会导致食物占据越多空间，更快更容易撑满该部位。",
  "infusedFade": "颜色",
  "infusedFadeTip": "注入后剩余的颜色量。",
  "infusedSize": "尺寸",
  "infusedSizeTip": "注入占尺寸的百分比。",
  "infusedShrink": "注入缩小",
  "infusedShrinkTip": "尺寸会随着时间的推移而缩小。",
  "infusedFading": "注入褪色",
  "infusedFadingTip": "颜色会随着时间的推移而褪去。",
  "bodyParts": "身体部位",
  "cockTip": "启用阴茎。",
  "ballsTip": "启用睾丸。",
  "pussyTip": "启用阴道。",
  "breastsTip": "启用乳房。",
  "ballsSymmetric": "睾丸的对称性",
  "ballsSymmetricTip": "为了保持对称而将睾丸的内容物平均分配到两侧。",
  "breastsSymmetric": "乳房的对称性",
  "breastsSymmetricTip": "为了保持对称而将乳房的内容物平均分配到两侧。",
  "ballsInternal": "内部睾丸",
  "ballsInternalTip": "从外面看不到睾丸。",
  "compression": "部位收缩",
  "compressionHealth": "随生命收缩",
  "compressionHealthTip": "猎物会根据其健康状况的百分比被压缩得更小。",
  "compressionTime": "随时间收缩",
  "compressionTimeTip": "基于该部位的消化强度，猎物会随着时间的推移被压缩得更小。",
  "compressionNone": "不收缩",
  "compressionNoneTip": "不压缩.",
  "compressionMin": "压缩极限",
  "compressionMinTip": "猎物极限能被压缩到多小。",
  "huntingSpreeChance": "疯狂狩猎概率",
  "huntingSpreeChanceTip": "狩猎成功后，对方会立即再次开始狩猎。",
  "getConsentChance": "征求同意概率",
  "getConsentChanceTip": "对方可能会向目标征求同意再做这件事。",
  "stripping": "剥离",
  "headStrip": "头饰",
  "chestStrip": "上身",
  "legsStrip": "下身",
  "backStrip": "背饰",
  "clothingStripTip": "角色移除此衣服槽位的色欲百分比。",
  "theHatStaysOn": "做爱时帽子会一直戴着。",
  "offerQuests": "提供任务",
  "offerQuestsTip": "该角色可为玩家提供各种任务。",
  "questParticipation": "参与任务",
  "questParticipationTip": "该角色可以“参与”其他角色的任务。",
  "npcGraduation": "NPC毕业",
  "npcGraduationTip": "这个角色在完成任务后可能会“毕业”成为另一种类型。 \n 这通常意味着可以被招募为船员。",
  "eggify": "蛋化",
  "eggifyDesc": "把猎物困在蛋里！",
  "eggifyRequestDesc": "请求被困在蛋里！",
  "releaseOccupant": "释放乘客",
  "releaseOccupantDesc": "这应该只针对 NPC。",
  "releaseOccupantRequestDesc": "请求他们释放其中一名乘客。",
  "personality": "性格",
  "shy": "害羞",
  "flirty": "轻浮",
  "default": "默认",
  "cockLeakiness": "阴茎渗漏性",
  "cockLeakinessTip": "随着欲望计量条的填充，你的阴茎会渗漏多少。",
  "pussyLeakiness": "阴道渗漏性",
  "pussyLeakinessTip": "随着欲望计量条的填充，你的阴道会渗漏多少。",
  "breastsLeakiness": "乳房渗漏性",
  "breastsLeakinessTip": "随着欲望计量条的填充，你的乳房会渗漏多少。",
  "cockSelect": "阴茎选择",
  "cockSelectTip": "选择你拥有的阴茎类型。",
  "tailSelect": "尾巴选择",
  "tailSelectTip": "选择你拥有的尾巴类型。",
  "tailVoreCompatible": "尾巴吞食兼容！",
  "cockInfuseSelect": "阴茎变形选择",
  "cockInfuseSelectTip": "选择你变形时的阴茎类型。",
  "tailInfuseSelect": "尾巴变形选择",
  "tailInfuseSelectTip": "选择你变形时的尾巴类型。",
  "tailSelectOverride": "尾巴选择覆盖",
  "tailSelectOverrideTip": "注入角色可以用他们偏好的尾巴类型覆盖你的选择。",
  "cockSelectOverride": "阴茎选择覆盖",
  "cockSelectOverrideTip": "注入角色可以用他们偏好的阴茎类型覆盖你的选择。",
  "auto": "自动",
  "cockMatchGender": "阴茎匹配性别",
  "ballsMatchGender": "睾丸匹配性别",
  "breastsMatchGender": "乳房匹配性别",
  "pussyMatchGender": "阴道匹配性别",
  "cockMatchGenderTip": "当你为男性时，你的阴茎将被启用。",
  "ballsMatchGenderTip": "当你为男性时，你的睾丸将被启用。",
  "breastsMatchGenderTip": "当你为女性时，你的乳房将被启用。",
  "pussyMatchGenderTip": "当你为女性时，你的阴道将被启用。",
  "transgender": "跨性别",
  "transgenderTip": "在变形某人时，你也可以改变他们的性别。",
  "unchanged": "保持不变",
  "random": "随机",
  "swap": "交换",
  "male": "男性",
  "female": "女性",
  "speciesTF": "物种",
  "indefiniteTF": "无期限",
  "permanentTF": "永久",
  "genderTF": "性别",
  "accidentalTF": "事故",
  "speciesTFTip": "你的物种可以改变",
  "indefiniteTFTip": "变形将无限期地持续下去，只能用还原药水治愈",
  "permanentTFTip": "变身后，你的“原始”物种将被新物种取代，从而使复原药剂失去作用",
  "genderTFTip": "你的性别可以改变^#555;(仅限基础，生殖器是独立的)",
  "potionTFTip": "你可以通过药水改变自己",
  "magicTFTip": "你可以通过魔法改变自己",
  "scienceTFTip": "你可以通过科学改变自己",
  "voreTFTip": "你可以在 vore 期间进行转化",
  "unbirthTFTip": "你可以在别人的子宫里发生变化",
  "accidentalTFTip": "各种随机事件都可能导致转变。^#555;(尊重其他设置)",
  "cockCanTFChange": "TF效果会随你有没有阴茎而改变。",
  "ballsCanTFChange": "TF效果会随你有没有睾丸而改变。",
  "pussyCanTFChange": "TF效果会随你有没有阴道而改变。",
  "breastsCanTFChange": "TF效果会随你有没有乳房而改变。",
  "actions": "行动",
  "unassignedAction": "SBQ控制器",
  "grab": "抓取",
  "inhale": "暴风吸入",
  "vore": "任何Vore",
  "genericDesc": "^green;点击^reset;尝试^yellow;<actionName>^reset;.",
  "unavailableDesc": "^yellow;<actionName>^reset;不可用。",
  "unassignedDesc": "未分配任何操作。",
  "controllerDescAppend": "^green;Shift+W^reset;为行动轮。^green;Shift+点击^reset;发送提示。",
  "genericDomPrompt": "<entityName>^reset;想要<actionName>^reset;你。",
  "genericSubPrompt": "<entityName>^reset;想要<actionName>^reset;对方。",
  "voreDesc": "尝试对目标进行任何可用的^yellow;Vore^reset;行动。",
  "voreRequestDesc": "让对方选择如何vore你！",
  "oralVoreDesc": "吃对方！",
  "analVoreDesc": "把对方塞进你的屁股里！",
  "unbirthVoreDesc": "把对方放进你的阴道里！",
  "breastVoreDesc": "把对方插进你的乳房里！",
  "cockVoreDesc": "把对方放进你的阴茎里！",
  "tailVoreDesc": "用你的尾巴吃对方！",
  "absorbVoreDesc": "吸收对方！",
  "navelVoreDesc": "把对方放进你的肚脐里！",
  "oralVoreRequestDesc": "请求被吃掉!",
  "analVoreRequestDesc": "请求被塞进对方的屁股里！",
  "unbirthVoreRequestDesc": "请求被塞进对方的阴道！",
  "breastVoreRequestDesc": "请求被塞进对方的乳房里！",
  "cockVoreRequestDesc": "请求被塞进对方的阴茎里！",
  "tailVoreRequestDesc": "请求被对方的尾巴咬！",
  "absorbVoreRequestDesc": "请求对方吸收你！",
  "navelVoreRequestDesc": "请求被塞进对方的肚脐！",
  "bellyInfuseDesc": "把对方变成你的胃！",
  "thighsInfuseDesc": "把你的猎物变成有意识的脂肪！",
  "cockInfuseDesc": "把对方变成你的阴茎！",
  "pussyInfuseDesc": "把对方变成你的阴道！",
  "breastInfuseDesc": "把对方变成你的乳房！",
  "tailInfuseDesc": "把对方变成你的尾巴！",
  "pawInfuseDesc": "把对方吸收到你的爪子里！",
  "bellyInfuseRequestDesc": "请求变成对方的胃！",
  "thighsInfuseRequestDesc": "请求变成脂肪！",
  "cockInfuseRequestDesc": "请求变成对方的阴茎！",
  "pussyInfuseRequestDesc": "请求变成对方的阴道！",
  "breastInfuseRequestDesc": "请求变成对方的乳房！",
  "tailInfuseRequestDesc": "请求变成对方的尾巴！",
  "pawInfuseRequestDesc": "请求变成对方的爪子！",
  "grabRequestDesc": "请求对方抱着你你举高高！",
  "interact": "互动",
  "interactDesc": "与该角色互动。",
  "letout": "释放",
  "controllerLetOutAnyDesc": "用当前的行动释放最近的猎物。",
  "letoutDesc": "用当前行动放出选定的猎物。",
  "letoutRequestDesc": "请求释放。",
  "controllerRPMenu": "角色扮演行动",
  "controllerRPMenuDesc": "TODO \n 主要用于角色扮演的行动。",
  "controllerAssign": "指定行动",
  "controllerAssignDesc": "指定点击时执行的操作。",
  "occupants": "Occupants",
  "turboDigest": "极速消化",
  "turboDigestDesc": "用10倍的速度消化！",
  "turboDigestRequestDesc": "请求以10倍的速度被消化！",
  "reform": "重塑",
  "reformDesc": "猎物HP回满后对其进行重塑。",
  "reformRequestDesc": "请求在HP回满后进行重塑。",
  "turboReform": "快速重塑",
  "turboReformDesc": "消耗能量使猎物的重塑速度提高10倍！",
  "turboReformRequestDesc": "请求以10倍的速度进行重塑！",
  "turboHeal": "快速治愈",
  "turboHealDesc": "消耗能量使猎物的治愈速度提高10倍！",
  "turboHealRequestDesc": "请求以10倍的速度进行治愈！",
  "fatal": "致死",
  "fatalDesc": "让对方解脱。",
  "fatalRequestDesc": "请求解脱。",
  "chooseLocation": "选择位置",
  "chooseLocationDesc": "选择猎物被送往的位置。",
  "chooseLocationRequestDesc": "请求被送往其它位置。",
  "chooseLocationPrey": "猎物选择位置",
  "chooseLocationPreyDesc": "让你的猎物选择被送往的位置。",
  "chooseLocationPreyPrompt": "选择捕食者体内的一个位置。",
  "transform": "转化",
  "transformDesc": "将猎物转化为其他东西，需要消耗能量。",
  "transformRequestDesc": "请求变成其他东西！",
  "sendDeeper": "深入",
  "sendDeeperDesc": "将猎物送入你的身体深处",
  "sendDeeperRequestDesc": "请求更深入地进入对方的体内！",
  "jackoff": "手淫",
  "jackoffDesc": "手淫你的阴茎！",
  "fingerPussy": "扣扣阴道",
  "fingerPussyDesc": "用手指刺激你的阴道！",
  "squishBreasts": "搓揉乳房",
  "squishBreastsDesc": "搓揉，挤压你的奶子！",
  "lockDown": "无路可逃",
  "lockDownDesc": "切换^red;无路可逃^reset;模式。\n只要你还有能量，就能阻止猎物转移与逃脱，但无法被动回复与利用从猎物身上汲取的能量。",
  "action_invalidAction": "行动无效",
  "action_settingsMismatch": "你的噬好设定不允许",
  "action_targetSettingsMismatch": "对方设定不允许",
  "action_targetPreySettingsMismatch": "对方体内的食物设定不允许",
  "action_tooBig": "对方体型太大了",
  "action_tooSmall": "这只食物太小了",
  "action_noSlots": "体内的食物太多了",
  "action_noSpace": "这只食物塞不进当前部位了",
  "action_needsInfusion": "需要先通过融合获得对应部位",
  "action_alreadyInfused": "那只食物已经被融合了",
  "action_invalidLocation": "部位数据无效",
  "action_missingAction": "当前状态下没有行动",
  "action_actionsLocked": "行动暂时不可用",
  "action_targetMissingStatusPrimaryScript": "不兼容目标：缺少SBQ状态主脚本",
  "action_targetMissingActorScript": "不兼容目标：缺少SBQ状态行动脚本",
  "mysteryPotionName": "^rainbow;神秘药水",
  "mysteryPotionDesc": "谁知道这瓶药水会把人变成什么样呢？",
  "speciesPotionName": "<species>物种药水",
  "speciesPotionDesc": "一瓶变身药水，会将使用者的物种变为<species>。",
  "invalidPotionName": "无效的<species>物种药水",
  "invalidPotionDesc": "因为某些问题而无法将物种转化为<species>。",
  "duplicatePotionName": "<name>角色药水",
  "duplicatePotionDesc": "一瓶能将使用者变得和<name>一模一样的药水。",
  "overrideEnforcerName": "锁定设置执行器",
  "overrideEnforcerDesc": "每个世界中只能放置一个，用于配置该世界中玩家/NPC/物体的锁定设置。",
  "candiesEatenIncreased": "最大体型与消化强度提升，猎物也更难从你体内挣脱",
  "mysteryCandyName": "^rainbow;神秘冰糖",
  "candyName": [
    "星核苹果冰糖",
    "闪耀甜蜜冰糖",
    "骨悚香蕉冰糖",
    "异变什锦冰糖",
    "^rainbow;纯真元素冰糖",
    "^rainbow;璀璨恒星冰糖",
    null,
    null,
    null,
    "^rainbow;终极冰糖"
  ],
  "mysteryCandyDesc": "谁知道这糖果有多厉害！",
  "candyDesc": [
    "这颗糖果富含来自行星核心的营养成分... 你的胃不至于消化不良... 对吧？",
    "虽然这颗冰糖味道甜美，但它的密度却高得惊人... 就像某些难缠的猎物一样！",
    "这些怪奇的味道会让你的胃加活跃，让食物经历更恐怖的消化过程。",
    "用了数种异变水果制成的冰糖... 含有成为更强大的捕食者所需的一切。",
    "将这三种矿物元素与之相匹配的口味结合，将会为你展现真正的力量！",
    "想吞噬一颗恒星... 那还很遥远，但这把冰糖所蕴含的力量会让你离梦想更进一步！",
    null,
    null,
    null,
    "就像猎物一样，一次只吃一颗已经满足不了你了... 吞下这堆冰糖一定会带给你无与伦比的体验！"
  ],
  "allSettingsCardDesc": "这张卡片将会覆盖所有设定。",
  "prefsSettingsCardDesc": "这张卡片只会覆盖噬好和行为设定",
  "locationsSettingsCardDesc": "这张卡片只会覆盖身体部位设定。",
  "nominomiconDesc": "对兼容的实体使用来配置其SBQ设置。",
  "nominomiconName": "食典",
  "plasticEggName": "塑料蛋",
  "plasticEggDesc": "一个可供你钻进去塑料蛋！\n有各种颜色，第一次使用前颜色是未知的。\n按住^green;shift+方向键^reset;摇晃破壳而出。",
  "potionDartGunDesc": "将另一只手上持有的药水装进飞镖发射出去。",
  "potionDartGunName": "药水飞镖枪",
  "faultySizeRayDesc": "一把可以改变体型的射线枪，不过这把看起来...不太靠谱。\n \n^green;按住Shift键来瞄准你自己。^reset;\n \n左键：^cyan;缩小？^reset;\n右键：^orange;变大？^reset;\n按住左/右键充能",
  "faultySizeRayName": "故障体型射线枪",
  "sizeRayDesc": "一把可以改变体型的射线枪。\n \n^green;按住Shift键来瞄准你自己。^reset;\n \n左键：^cyan;缩小^reset;\n右键：^orange;变大^reset;\n按住左/右键充能",
  "sizeRayName": "体型射线枪",
  "clonePotionDesc": "一瓶可以将别人变得和你一模一样的药水，只需要再加一种原料... 一点你的基因。",
  "clonePotionName": "克隆药水",
  "genderSwapPotionDesc": "一瓶会转变你性别的药水。\n \n仅改变设定，生殖器需在SBQ中单独设置。",
  "genderSwapPotionName": "性转药水",
  "reversionPotionDesc": "一瓶将你复原为先前形态的药水...\n似乎只是一瓶牛奶？\n \n如果你在噬好中启用了\"永久\"变身，该药水无法将你复原。",
  "reversionPotionName": "复原药水",
  "unboundSpeciesPotionDesc": "一瓶可以将别人同化成你所属物种的药水，只需要再加一种原料... 你身体的一部分。",
  "unboundSpeciesPotionName": "物种药水",
  "ferriBlasterDesc": "发射沙包般子弹的大手枪。",
  "ferriBlasterName": "Ferri的爆能枪",
  "ferriChestDesc": "一件内侧蓬松的皮夹克，上面有几个补丁。",
  "ferriChestName": "Ferri的飞行夹克",
  "helenaChestDesc": "一件撕掉袖子的衬衫，上面有一句相当粗俗的短语。",
  "helenaChestName": "Helena的破衬衫",
  "helenaHeadDesc": "一个带有狗骨头形状狗牌的带刺项圈。",
  "helenaHeadName": "Helena的带刺项圈",
  "cloverHeadDesc": "一顶有趣的帽子，遗憾的是它并不能让你发射光束或制造镜像。",
  "cloverHeadName": "Clover的小丑帽",
  "lokiHeadDesc": "一个女巫总是需要一顶好帽子。",
  "lokiHeadName": "Loki的女巫帽",
  "nudeHeadDesc": "便于丸吞时双方互相亲热，以及防止吞咽时卡嗓子。",
  "nudeHeadName": "隐藏头饰",
  "nudeChestDesc": "胸甲会让丸吞过程不那么舒服，不如坦诚交流感受彼此。",
  "nudeChestName": "隐藏胸甲",
  "nudeLegsDesc": "提前把鞋子与裤子脱掉能更方便地开始做，无论你想先做哪个。",
  "nudeLegsName": "隐藏腿甲",
  "nudeBackDesc": "你应该知道，随身背饰要单独托运，对吧。",
  "nudeBackName": "隐藏背饰",
  "boneDrop": {
    "both": {
      "name": [
        "<preyName>的遗骸"
      ],
      "desc": [
        "这是美味的<preyName>撞见<predName>后，\n<preyName>留存于世的一切。"
      ]
    },
    "pred": {
      "name": [
        "<predName>美餐后的吐出的骨头"
      ],
      "desc": [
        "当我们赶到时，现场只看到了<predName>和吐了一地的骨架。"
      ]
    },
    "forgetful": {
      "name": [
        "<predName>不在乎的食丸"
      ],
      "desc": [
        "某个受害者被消化后留下的残骸... 恐怕<predName>早已忘了这只食物。"
      ]
    },
    "prey": {
      "name": [
        "<preyName>的残渣"
      ],
      "desc": [
        "这是<preyName>飞升后遗留在尘世的存在过的证明......"
      ]
    },
    "default": {
      "name": [
        "一堆骸骨"
      ],
      "desc": [
        "这堆骨头意味着有人沦为了食物......"
      ]
    }
  },
  "condomDrop": {
    "both": {
      "name": [
        "被<predName>射进套套里的<preyName>"
      ],
      "desc": [
        "<predName>答应了<preyName>不要消化成食糜的请求，并随即把他塞进了下面。\n至少<predName>还是把它射进了安全套里～",
        "一袋满是精液的避孕套，上面有<predName>留下的便条：\n谢谢你的套套<preyName>！不然某人肚子里就怀上你了～",
        "<predName>将<preyName>握在手中坏笑并说道：\"避孕套儿\"\n很快乳白色的<preyName>就被射进了避孕套内～",
        "一只避孕套，系着<predName>的留言：\n差点就把<preyName>蛇的到处都是，还好准备了套套。不过我打了死结，老实呆在里面吧！",
        "一个大安全套，上面有个标签：\n<predName>将<preyName>塞进蛋蛋里一通狂搅，全力活塞运动之后终于榨出了乳白色的汁水～",
        "一个带着标签的大避孕套：\n<predName>度过了一段愉悦的时光。尽管<preyName>没坚持多久，很快就沦为了精液，并随着喷射被抛弃～",
        "一团圆鼓鼓的白色套套，标签上写道：\n<predName>和<preyName>在一起。你追我，我追你。如果我，追到你，C-U-M-M-I-N-G～"
      ]
    },
    "pred": {
      "name": [
        "射满<predName>精液的大安全套"
      ],
      "desc": [
        "一个大避孕套，纸条的一头被随意地系在结上：\n终究只不过是一滩用于取悦<predName>的浓稠精液～",
        "一只大套套，上面挂着个标签：\n<predName>向你保证，这里面很安全~ 就像在我的蛋蛋里面一样安全～"
      ]
    },
    "forgetful": {
      "name": [
        "被<predName>弄丢了的大避孕套"
      ],
      "desc": [
        "一个贴着照片的大避孕套，打结处系着个标签：\n... 已经忘记你叫啥了，抱歉啦！"
      ]
    },
    "prey": {
      "name": [
        "存放<preyName>的避孕套"
      ],
      "desc": [
        "一团圆鼓鼓的白色套套，标签上写道：\n<preyName>没能在里面坚持多久，没一会就融成了一滩白色粘稠的精液～",
        "一个带有便笺大安全套：\n谢谢你，<preyName>！你居然自带了一个大套套。作为报答我就不把你射到其他的地方了~",
        "一只大避孕套，附带一条记录：\n<preyName>刚被塞进去的时候很抗拒，不过在多重爱抚下，很快就放弃挣扎接受了变成精液的命运～"
      ]
    },
    "default": {
      "name": [
        "某人用过的安全套"
      ],
      "desc": [
        "一个系着标签的大安全套... 字迹与图片无法辨识。"
      ]
    }
  },
  "milkCartonDrop": {
    "both": {
      "name": [
        "<predName>出品的<preyName>风味牛奶"
      ],
      "desc": [
        "<predName>出品的新口味牛奶。\n<preyName>自愿参与新品研发工作。"
      ]
    },
    "pred": {
      "name": [
        "<predName>乳业的招牌牛奶"
      ],
      "desc": [
        "<predName>精选原料，亲力亲为，勤勤恳恳炼制的一盒牛乳。"
      ]
    },
    "forgetful": {
      "name": [
        "<predName>不爱喝的牛奶"
      ],
      "desc": [
        "一盒<predName>并不满意的牛奶，侧面某人的肖像只画了一半。"
      ]
    },
    "prey": {
      "name": [
        "<preyName>代言的牛奶"
      ],
      "desc": [
        "一大盒纯天然有机无污染牛奶。\n由<preyName>本人亲自代言。"
      ]
    },
    "default": {
      "name": [
        "一盒牛奶"
      ],
      "desc": [
        "看起来像一盒牛奶... 但上面什么都没写，恐怕品质无法保证。"
      ]
    }
  },
  "essenceDrop": {
    "prey": {
      "name": [
        "<preyName>的灵魂精华 "
      ],
      "desc": [
        "一团闪烁摇曳的火焰，<preyName>脆弱的灵魂精华被存放在这个瓶子里。"
      ]
    },
    "default": {
      "name": [
        "瓶装灵魂精华"
      ],
      "desc": [
        "一个装有彩色灵魂火焰的瓶子。"
      ]
    }
  },
  "collapseEssenceStacks": "合并堆叠",
  "collapseEssenceStacksTip": "你物品栏中所有属于同一角色、类型相同且含有'精华'的物品将被合并堆叠到一起。\n只有最新物品的数据会被保留。",
  "helpTabPred": "捕食者帮助",
  "helpTabPredContent": "要想成为捕食者，你必须在捕食者噬好中选择启用相关的吞食方式。你还可以决定是否要求其他角色在迫使你这么吞食他人之前必须征得你的同意。\n如果你启用了捕食者的张嘴丸吞姿势，但无需征求同意，就代表你允许猎物随意爬进嘴里并强迫你将其咽入肚中。若启用征求同意选项，则会有一个提示来供你确认或拒绝请求，这对于你主动张嘴将猎物丸吞没有影响。\n \n想施展捕食者动作，你需要先装备一个^yellow;SBQ控制器^reset;，在基础制作菜单^green;[C]^reset;中可用一个像素制作。打开动作轮并分配一个动作，你的主要设置与捕食者噬好以及所属物种将决定哪些动作可用。\n \n动作轮还允许你吐出吃下的任何猎物，也能用动作轮或捕食者HUD随时为某只猎物选定其他可用的处置方式。\n \n在右下角，会有一个HUD来显示你体内食物的生命值状况，以及正在对他们施加的任何额外效果进度。这个HUD还允许你快速调整某个部位的消化与附加效果，以及选择猎物并决定如何处置他们。\n \n如果你想变得更大更强......让猎物更难挣脱，并用更快的速度将他们溶解为食物，你可以用你发现的每种新资源来合成一些特别的小零食。\n \n大红色的^red;无路可逃^reset;按钮将使你进入^red;无路可逃^reset;状态，这将暂停你的基础被动能量回复，也无法利用从猎物身上汲取的能量。但会阻止任何猎物在你体内乱钻以及逃脱，直到你耗尽能量。若你处在这种状态，其图标会在左上角状态效果栏显示。",
  "helpTabPrey": "猎物帮助",
  "helpTabPreyContent": "要想成为猎物，你必须在猎物噬好中选择启用相关的被吞食方式。你还可以决定是否要求其他角色必须在这样吞食你之前征得你的同意。\n如果你启用了猎物的张嘴丸吞姿势，但无需征求同意，就代表你允许捕食者在任意时间问都不问直接一口吃掉你。若启用征求同意选项，则会有一个提示来供你确认或拒绝请求，这对于你主动钻入捕食者胃里没有影响。\n \n当你被吃掉后，右下角会弹出一个HUD，提示你当前所处的身体部位，此次丸吞过了多久和捕食者正对你施加特殊效果的进度。右侧指示箭头的颜色会提示按对应方向键朝那个方向挣扎会有什么结果。\n \n按住^green;Shift^reset;键时再按方向键来假意挣扎，仅播放动画与声音而不会产生任何实际效果，很适合想与捕食者亲热又不想弄疼对方的情况。\n \n方向箭头颜色含义：\n \n^red;红色^reset;\n你将会逃出捕食者身体。\n^blue;蓝色^reset;\n会使捕食者改变状态/姿势。\n^green;绿色^reset;\n向着逃脱机会挣扎，一般你会爬到能逃出捕食者的身体部位，或者改变捕食者的状态/姿势来创造逃出去的机会。\n^cyan;青色^reset;\n挣扎着爬入捕食者临近的身体部位。\n^yellow;黄色^reset;\n会让捕食者对你执行某种动作。\n^#AAA;(封锁)^reset;\n捕食者进入'无路可逃'状态，挣扎不再有实际效果，直到他们因你不断翻江倒海而耗尽能量。\n \n \n如果因为某些原因卡在捕食者体内完全出不来，想无视任何情况立刻脱身，有一个备用的^orange;立即逃脱组合键^reset;：按住^green;Shift^reset;+^green;下^reset;，然后按^green;跳跃^reset;键。\n请注意，这个组合键相当破坏沉浸感且只有玩家能使用，即使你被溶解或被融合也能无需恢复过程立刻逃脱。",
  "helpTabTransformation": "变身帮助",
  "helpTabTransformationContent": "在变身为足够多的不同物种后，你将解锁^yellow;变身^reset;头部科技，装备后就可以自由变身为你曾变成过的任何物种。一些快速解锁的方法是从商店购买几瓶神秘药水并饮用，利用SBQ殖民地契约生成不同物种的租户NPC并被他们丸吞同化，亦或者寻找其他喜欢丸吞的NPC与玩家，满足他们食欲的同时请求帮你一把。\n \n如果未启用相关设置，大多数药水效果都只是暂时的，你通常会在5-10分钟内变回原来的物种，具体取决于变身方法。如果到时间了你仍没有变回原样，只需从商店获取一瓶^yellow;复原药水^reset;并饮用即可变回来。\n请注意，如果你启用了永久变身选项，任何方式导致的物种改变都会\"永久\"生效，复原药水不再能将你变回原样。(或者说，你所变成的新物种就是你的\"原样\")\n \n通过^yellow;变身^reset;科技进行的变身没有时间限制，即使没有启用无期限变身选项也会一直持续下去。\n该科技还可以用来自定义每个物种的外观与性别，你甚至可以更改作为某一个物种时使用的名称！这对于角色扮演非常有用，不再依赖于单独的人物存档来\"更换角色\"。\n \n通过克隆药水变身会覆盖你的自定义特征设置并变更你的名称，这只是暂时的！^#555;除非它并不是 ;)^reset; 如果你变身成未曾变过的物种，此时你作为新物种的外貌会被保存，除此之外克隆药水永远不会变更替换你已有的的自定义设置，所以不必担心随意尝试它们！\n \n对于任何你正在进行的游戏中所变更的名称，虽然它会被保存进角色数据，但你无法在不断开并重新连接服务器的前提下更改客户端连接名称，所以我们只是让它代替你输入了'/nick'命令来更改你的服务器昵称。",
  "helpTabSize": "体型帮助",
  "helpTabSizeContent": "你会发现你的体型会通过各种方式变大或缩小。如果你希望停止这种情况，只需在你的噬好界面为体型设定更改限制。\n \n不过，如果你想要突破这些限制... 来变得更大更好更壮，你可以用你发现的每种新资源来合成一些特别的小零食。\n \n^cyan;体型射线枪^reset;\n体型射线枪每次命中都会逐渐增大或缩小目标的体型，充能时间越长，目标体型变化的幅度就越大。你还可以按住^green;Shift^reset;键来瞄准你自己！\n \n \n体型也会影响你的食量以及作为食物时的体积。你的体型越大，就意味着你能同时吃下更多食物，或在捕食者体内占用更多空间。你无法吃下体型远大于你的猎物，也不允许吃下体型远小于你的猎物。",
  "helpTabUpgrades": "升级帮助",
  "helpTabUpgradesContent": "在SBQ中有许多特定的属性和能力，该选项卡将对它们进行说明。\n \n^yellow;冰糖^reset;\n冰糖是一种有着不同等级的特殊零食，可以在铁砧处(FU中可用军备作坊)制作或作为战利品找到。\n食用它会增加你的消化强度，使你的体型能变得更大，让猎物更难从你的体内挣脱。通过制作得到的不同等级的冰糖所提升的属性是一样的，但重复食用同一等级的冰糖无法提供更多增益......\n不过，作为战利品找到的冰糖可能会具有更强的效果。如果你找到一块有着'发光'轮廓的冰糖，那意味着这块冰糖在同等级冰糖中具有最高的潜力。越高等级的发光冰糖越难找到，但会带来越好的效果！\n \n目前它是唯一的升级消耗品，未来还会有更多！",
  "helpTabNPCs": "契约帮助",
  "helpTabNPCsContent": "更多和你一样喜欢丸吞的NPC可以通过MOD版本的SBQ殖民地契约生成，你可以在Auri的小店中买到各类契约。\n \n与原版契约不同，这些契约可以打开一个GUI，供你选择和管理多个租户，查看整个殖民地已有的标签情况与需求，甚至可以用这些殖民地标签购买家具。\n你还可以在契约中自由插入或取出NPC数据卡，该卡片包含了NPC的所有数据，包括其设置。移除契约时NPC数据卡会储存在SBQ契约内，并随着放置该契约将先前的NPC召唤回来。\n \n你可以用NPC灵魂精华代替数据卡在契约处召唤NPC。用任意方式将NPC吃掉并消化，你就能在SBQ主要设置中找到最近消化食物的灵魂精华。你也可以将消化完猎物后吐出的特殊掉落物放入SBQ契约来\"复活\"令你回味无穷的食物。\n(如果你是个温柔的捕食者，不想过多伤害体内的猎物。通过软消化只将食物的躯体溶解即可得到消化掉落物，且能在不伤害他们灵魂的同时获得一片灵魂精华。)",
  "helpTabOther": "其他帮助",
  "helpTabOtherContent": "^yellow;食典^reset;\n通用工具，用于访问SBQ相关设置和获取相关信息。任何已加载SBQ脚本的NPC或怪物都应能打开其设置菜单，大部分(如果有例外)非SBQ实体将只有猎物和融合选项可供配置，出于尊重将禁用一些特殊NPC的某些设置。\n \n^yellow;SSVM^reset;\n许多年过来现已不再是依赖项。\n并非不兼容，但其功能与本MOD的功能之间没有对应关系，这些是完全独立的模组。\n \n^yellow;StarPounds^reset;\n据我所知，应该不兼容，尚未添加对应关系。",
  "helpTabCredits": "致谢",
  "helpTabCreditsContent": "^#7dad27;LokiVulpix^reset;\nMOD的主要开发者！\npatreon.com/LokiVulpix ^#AAA;(标题屏幕的模组菜单中有真的可供点击跳转的链接)^reset;\n也可以在itaku上找到我的作品 itaku.ee/profile/lokivulpix\n我制作了大部分的动图并完成了几乎所有的编程！\n \n^#7ddfff;Zygan^reset;\n巨大水伊布动图的原作者\n理智检查员\n \n \n其他贡献者\n \n^blue;Akari Kaen^reset;^blue;ArgobargSoup^reset;\n^blue;Blueninja^reset;\n^purple;Cosmic^reset;\n^yellow;Ferrilata_^reset;\n^red;FFWizard^reset;\n^reset;HornySe7en^purple;\nradiantAurora^reset;\n^blue;Xodious^reset;\n^red;Zovoroth^reset;\n \n \n委托人\n \nxeronious\n^rainbow;Lakota Amitola^reset;\n^blue;BRYZN-Z18^reset;\n^orange;Fevix^reset;\n^red;FFWizard^reset;\n^blue;Akari Kaen^reset;\n \n \n支持者\n \n",
  "missingPred": "捕食者失踪",
  "missingPredPrompt": "此前将你吞进体内的捕食者似乎不见了。\n \n你想趁此机会逃脱还是乖乖呆身体里等他们回来？",
  "missingPredEscape": "快逃！",
  "missingPredWait": "再等一等"
}
